<main>
    <section class="main-content-wrapper">
        <header>
            <h2>
                Análise sensorial de preparações funcionais desenvolvidas para escolares <br> entre 09 e 15 anos, do município de Campinas/SP
            </h2>

            <span class="image-wrapper">
                <img src="../../../assets/images/download-button.svg" alt="Botão de download representado pela palavra Download">
                <img src="../../../assets/images/star-button.svg" alt="Botão de favorito representado por estrela">
                <img src="../../../assets/images/doi-button.svg" alt="Botão contendo a palavra doi">
            </span>
        </header>
    </section>
</main>