<main id="page-main">
    <section class="main-content-wrapper">
        <header>
            <h2>
                Análise sensorial de preparações funcionais desenvolvidas para escolares <br> entre 09 e 15 anos, do município de Campinas/SP
            </h2>

            <span class="image-wrapper">
                <img src="../../../assets/images/download-button.svg" alt="Botão de download representado pela palavra Download">
                <img src="../../../assets/images/star-button.svg" alt="Botão de favorito representado por estrela">
                <img src="../../../assets/images/doi-button.svg" alt="Botão contendo a palavra doi">

                <p>Como citar esse trabalho ?</p>
            </span>
        </header>
        
        <!-- Esta seção está relacionada à imagem do vídeo e a card de detalhes, os quais estão contidos pela section. -->
        <section id="image-and-details">
            <article>
                <img src="../../../assets/images/vídeo-apresentação.svg" alt="Imagem de vídeo apresentação">
            </article>
            
            <aside class="project-details">
                <header>
                    <span class="details-header">Detalhes</span>
                </header>

                <main class="details-content-wrapper">
                    <div class="description">
                        <p>Tipo de Apresentação: <span>Pôster</span></p>
                        <p>Eixo temático: <span>Alimentação e saúde (AS)</span></p>
                        <p>Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span></p>
                    </div>

                    <span class="authors">Autores</span>
                    
                    <ul class="authors-list">
                        <li>
                            Galileo Galilei<sup>1</sup>
                        </li>

                        <li>
                            Berta Lange de Morretes<sup>2</sup>
                        </li>

                        <li>
                            Isaac Newton<sup>3</sup>
                        </li>

                        <li>
                            Cesar Lattes<sup>1</sup>
                        </li>

                        <li>
                            Stephen Hawking<sup>4</sup>
                        </li>
                    </ul>

                    <ul class="univeristies">
                        <li>
                            <sup>1</sup>Universidade Estadual de Campinas
                        </li>

                        <li>
                            <sup>2</sup>Universidade de São Paulo
                        </li>

                        <li>
                            <sup>3</sup>Instituto Nacional de Pesquisas Espaciais
                        </li>

                        <li>
                            <sup>4</sup>Universidade Federal do Rio de Janeiro
                        </li>
                    </ul>
                </main>
            </aside>
        </section>


        <!-- A seção abaixo é relacionada ao resumo, o qual possui um texto, inicialmente reduzido, o qual após clicar no botão, a section é expandida -->
        <section id="resume">
            <header>
                <span class="resume-title">Resumo</span>
            </header>

            <main class="reusme-text-content">
                <article>
                    <section class="colapsed-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. <span class="btn-show-more">ver mais</span>
                        </p>
                    </section>
                    
                    <section class="expanded-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.
                        </p>

                        <br>

                        <p>
                            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
                        </p>
        
                        <br>
        
                        <p>
                            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
                        </p>
                        
                        <br>
        
                        <p>
                            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </section>
                </article>
            </main>
        </section>

        <section id="discuss">
            <header>
                <span class="discuss-title">Discussões</span>
            </header>

            <aside class="discuss-content">
                <div class="share-ideas">
                    <span class="discuss-subtitle">Compartilhe suas ideias ou dúvidas com os autores!</span>

                    <div class="images-wrapper">
                        <img src="../../../assets/images/icone-mao.svg" alt="Imagem de duas mãos com uma folha">
                        <img src="../../../assets/images/icone-q-a.svg" alt="Imagem contendo as letras Q e A">
                        <img src="../../../assets/images/icone-pessoas.svg" alt="Imagem contendo duas pessoas e um balão de conversa">
                    </div>
    
                    <span>
                        Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus <br> questionamentos ou sugestões para o autor!
                    </span>

                    <button class="btn-create-topic" (click)="showForm()">
                        <img src="../../../assets/images/plus-icon.svg" alt="">
                        criar tópico
                    </button>
                </div>

                <form action="" class="create-new-topic-wrapper">
                    <span class="create-new-topic-title">
                        Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
                    </span>
              
                    <div class="topic-subject-wrapper">
                        <label class="new-topic-subject">Assunto</label>
                            <br>
                        <input type="text" name="newSubjectTitle" id="newSubjectTitle">
                    </div>
                    
                    <div class="topic-content-wrapper">
                        <label class="new-topic-content">Conteúdo</label>
                            <br>
                        <input type="text" name="newSubjectContent" id="newSubjectContent">
                
                        <div class="submit-subject-button-wrapper">
                            <div class="subject-submit-button">
                                <button class="btn-create-topic" (click)="submitForm($event)">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>


                <section class="submited-subject">
                    <span class="submited-subject-subtitle">Seu tópico foi enviado com sucesso! :D</span>

                    <span class="submited-subject-thank">
                        Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!
                    </span>
    
                    <span>
                        Descubra outros trabalhos!
                    </span>

                    <button class="open-new-form" (click)="showForm()">
                        <img src="../../../assets/images/plus-icon.svg" alt="">
                        criar novo tópico
                    </button>
                </section>
            </aside>

            <article>
                <div class="answered-topic first-one">
                    <div class="topic-subject-wrapper">
                        <h3 class="ops-topic-subject">Assunto da pergunta aparece aqui</h3>
                        <p>Carlos Henrique Santos</p>
                    </div>

                    <span class="comments-container">
                        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto <br> de processo formativo processo...
                    </span>

                    <div class="images-and-like-wrapper">
                        <img src="../../../assets/images/three-dots.svg" alt="Botão de favorito contendo imagem de três pontos.">
                        <img src="../../../assets/images/favorite-heart.svg" alt="Botão para favoritas comentário contendo imagem de coração">

                        <p>1 like</p>
                        <p>1 resposta</p>
                    </div>
                </div>

                <div class="answered-topic">
                    <div class="topic-subject-wrapper">
                        <h3 class="ops-topic-subject">Assunto da pergunta aparece aqui</h3>
                        <p>Carlos Henrique Santos</p>
                    </div>

                    <span class="comments-container">
                        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto <br> de processo formativo processo...
                    </span>

                    <div class="images-and-like-wrapper">
                        <img src="../../../assets/images/three-dots.svg" alt="Botão de favorito contendo imagem de três pontos.">
                        <img src="../../../assets/images/favorite-heart.svg" alt="Botão para favoritas comentário contendo imagem de coração">

                        <p>1 like</p>
                        <p>1 resposta</p>
                    </div>
                </div>
            </article>
        </section>
    </section>
</main>