<main id="page-main">
    <section class="main-content-wrapper">
        <header>
            <h2>
                Análise sensorial de preparações funcionais desenvolvidas para escolares <br> entre 09 e 15 anos, do município de Campinas/SP
            </h2>

            <span class="image-wrapper">
                <img src="../../../assets/images/download-button.svg" alt="Botão de download representado pela palavra Download">
                <img src="../../../assets/images/star-button.svg" alt="Botão de favorito representado por estrela">
                <img src="../../../assets/images/doi-button.svg" alt="Botão contendo a palavra doi">

                <p>Como citar esse trabalho ?</p>
            </span>
        </header>

        <section id="image-and-details">
            <article>
                <img src="../../../assets/images/vídeo-apresentação.svg" alt="Imagem de vídeo apresentação">
            </article>
            
            <aside class="project-details">
                <header>
                    <span class="details-header">Detalhes</span>
                </header>

                <main class="details-content-wrapper">
                    <div class="description">
                        <p>Tipo de Apresentação: <span>Pôster</span></p>
                        <p>Eixo temático: <span>Alimentação e saúde (AS)</span></p>
                        <p>Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span></p>
                    </div>

                    <span class="authors">Autores</span>
                    
                    <ul class="authors-list">
                        <li>
                            Galileo Galilei<sup>1</sup>
                        </li>

                        <li>
                            Berta Lange de Morretes<sup>2</sup>
                        </li>

                        <li>
                            Isaac Newton<sup>3</sup>
                        </li>

                        <li>
                            Cesar Lattes<sup>1</sup>
                        </li>

                        <li>
                            Stephen Hawking<sup>4</sup>
                        </li>
                    </ul>

                    <ul class="univeristies">
                        <li>
                            <sup>1</sup>Universidade Estadual de Campinas
                        </li>

                        <li>
                            <sup>2</sup>Universidade de São Paulo
                        </li>

                        <li>
                            <sup>3</sup>Instituto Nacional de Pesquisas Espaciais
                        </li>

                        <li>
                            <sup>4</sup>Universidade Federal do Rio de Janeiro
                        </li>
                    </ul>
                </main>
            </aside>
        </section>
    </section>
</main>