
// Estilização da parte de conteúdos principais da página
#page-main {
    background-color: transparent;
    height: 86.3rem;
    width: calc(99vw - 13.75rem);
    position: absolute;
    top: 4.2rem;
    margin-left: 13.8rem;

    display: flex;
    justify-content: center;

    // A estilização abaixo é relacionada à section que está atuando como um container para os conteúdos principais.
    .main-content-wrapper {
        width: 66.1rem;
        height: 86.3rem;
        margin-top: 1.25rem;
    }

    header {
        display: flex;
        justify-content: space-between;

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 1.25em;
            line-height: 1.5em;
            color: #ED7839;
        }

        .image-wrapper {
            width: 14.5rem;
            margin-right: -.6em;

            img {
                margin-right: .4rem;
                cursor: pointer;
            }

            p {
                text-transform: uppercase;
                font-size: 0.87em;
                margin-top: .4em;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: #ED7839;
                text-align: right;
                margin-right: .9em;
            }
        }
    }

    




    
    // A estilização 'image-and-details' é relacionada à section atuando como container para a imagem do vídeo e o card de detalhes. 
    #image-and-details {
        width: 66rem;
        height: 27.4rem;
        margin-top: 1.16rem;

        display: flex;
        justify-content: space-between;
    }

    .project-details {
        width: 15.1rem;
        height: 27.4rem;
        border: 1px solid #ECECEC;
        border-radius: .5rem;

        header {
            background-color: #FDF1EB;
            height: 2.8rem;
            display: flex;
            align-items: center;
            margin-bottom: 0.93rem;

            .details-header {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 1.2rem;
                color: #4E4E4E;
                padding-left: .93em;
            }
        }

        .details-content-wrapper  {
            height: 23rem;

            .description {
                margin-bottom: 1rem  ;
            }

            p, span {
                font-family: 'Quicksand', sans-serif;
                padding-left: 0.93rem;
            }

            p {
                font-weight: 400;
                font-size: 0.72rem;
                color: #5C5C5C;
            }

            span {
                font-weight: 700;
                font-size: 0.72rem;
            }

            .authors {
                font-weight: 700;
                font-size: 0.87rem;
                color: #5C5C5C;
            }

            .authors-list {
                margin-top: .4rem;

                li {
                    list-style: none;
                    padding-left: .93em;
                    font-family: 'Quicksand', sans-serif;
                    font-size: .87rem;
                    font-weight: 400;
                    color: #5C5C5C;
                }

                sup {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 400;
                    font-size: .87rem;
                }
            }

            .univeristies {
                margin-top: 1rem;

                li {
                    font-family: 'Quickasand', sans-serif;
                    font-weight: 400;
                    font-size: .87rem;
                    color: #ADA0A0;
                    list-style: none;
                    padding-left: .93em;
                }
            }
        }
    }
}






// A estilização abaixo é relacioanda à área de resumo
#resume {
    width: 66.12rem;
    height: 11.81rem;
    margin-top: 1.87rem;
    border: 1px solid #ECECEC;
    border-radius: .5rem;

    header {
        background-color: #FDF1EB;
        height: 2.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.93rem;

        .resume-title {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.2rem;
            color: #4E4E4E;
            padding-left: .93em;
        }
    }

    .btn-show-more {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 0.87rem;
        color: #ED7839;
    }

    .btn-show-more:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .expanded-text {
        display: none;
    }

    .colapsed-text {
        display: block;
        padding: 0.93rem;

        p {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 0.87rem;
            color: #5C5C5C;
            line-height: 1.42em;
        }
    }
}






// A estilização abaixo é relacionada à área de discussão
#discuss {
    width: 66.12rem;
    height: 39.7rem;
    margin-top: 1.87rem;
    border: 1px solid #ECECEC;
    border-radius: .5rem;

    header {
        background-color: #FDF1EB;
        height: 2.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.93rem;

        .discuss-title {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.2rem;
            color: #4E4E4E;
            padding-left: .93em;
        }
    }

    aside {
        height: 13.62rem;
        width: inherit;
        border-bottom: 1px solid #E7E7E7;
        text-align: center;

        .discuss-subtitle {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1.12rem;
            color: #ED7839;
        }

        .images-wrapper {
            display: flex;
            justify-content: center;
            gap: 4rem;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        span {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 0.87rem;
            color: #595959;
        }

        .open-form{
            position: absolute;
            top: 65.2rem;
            left: 39.6rem;
            cursor: pointer;
            background: linear-gradient(#FEB254, #F0813D);

            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: 0.93rem;
            color: #FFF;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 8.31rem;
            height: 2rem;

            border: none;
            border-radius: .06rem;
        }

        .create-new-topic-wrapper {
            display: none;
        }

        .share-ideas {
            display: block;

            .btn-create-topic {
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                font-size: 0.93rem;
                color: #FFF;
    
                background: linear-gradient(#FEB154, #F1833E);
                width: 8.31rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                border: none;

                display: flex;
                justify-content: space-evenly;

                margin-left: 45%;
                margin-top: 3.3rem;
            }
        }
    }

    article {
        .answered-topic {
            border: 1px solid #E7E7E7;
            width: 64.25rem;
            height: 9.25rem;
            margin-left: 0.93rem;
            padding-left: 1.5rem;
            padding-top: 1.06rem;
            border-radius: 0.25rem;
        }

        .first-one {
            margin-top: 1.8rem;
            margin-bottom: 1rem;
        }

        .topic-subject-wrapper {
            width: 33.8rem;
            height: 2.5rem;
            margin-bottom: 0.62rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                color: #ED7839;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                font-size: 1rem;
            }

            p {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 0.75rem;
                color: #5C5C5C;
            }
        }

        .comments-container {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 0.75rem;
            color: #4D4D4D;
        }

        .images-and-like-wrapper {
            width: 12rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: -.2rem;
            margin-top: 0.6rem;
            
            img {
                cursor: pointer;
            }

            p {
                font-family: 'Segoe UI', sans-serif;
                font-weight: 350;
                font-size: 0.87rem;
                color: #757575;
            }
        }
    }

    .submited-subject {
        display: none;

        .submited-subject-content-wrapper {
            display: flex;
            flex-direction: column;
        }

        .submited-subject-subtitle {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1.1rem;
            color: #ED7839;
        }

        .submited-subject-thank {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: .87rem;
            color: #595959;
            
            margin-top: 1.1rem;
        }

        .submited-subject-find-new-works {
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            font-size: .87rem;
            color: #F48F44;
            text-decoration: underline;

            margin-top: 1.8rem;
            margin-bottom: 2.9rem;
        }

        .btn-create-topic {
            background: linear-gradient(#FEB254, #F0813D);
            width: 14.6rem;
            height: 2rem;
            border: none;

            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: .93rem;
            color: #FFF;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            margin-left: 26rem;
            margin-top: 3.4rem;

            cursor: pointer;
        }
    }

    // Estiização relacionada ao formulário para envio de conteúdo de discussões
    .create-new-topic-wrapper {
        width: 64rem;
        height: 13.62rem;
        margin-left: 0.93rem;
        text-align: center;

        .create-new-topic-title {
            font-family: 'Quicksand', sans-serif;
            font-weight: 400;
            font-size: 0.87rem;
            color: #5C5C5C;
        }

        .topic-subject-wrapper {
            text-align: left;

            .new-topic-subject {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                color: #ED7839;
            }

            #newSubjectTitle{
                width: 64rem;
                height: 2.4rem;
                border-radius: .18rem;
                margin-bottom: .62rem;
                border: 1px solid #CCC;
            }

            #newSubjectTitle:focus {
                border: 1px solid #CCC;
            }
        }
        

        .topic-content-wrapper{
            text-align: left;

            .new-topic-content {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                color: #ED7839;
            }

            #newSubjectContent {
                width: 64rem;
                height: 4.6rem;
                border: 1px solid #CCC;
                border-top-left-radius: .18rem;
                border-top-right-radius: .18rem;
            }

            #newSubjectContent:focus {
                border: 1px solid #CCC;
            }
        }

        .submit-subject-button-wrapper {
            background-color: #EAF1F2;
            height: 1.93rem;
            border-bottom-left-radius: .18rem;
            border-bottom-right-radius: .18rem;
            border: 1px solid #CCC;
            display: flex;
            justify-content: flex-end;
        }

        .btn-create-topic {
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: 0.93rem;
            color: #FFF;

            background: linear-gradient(#FEB154, #F1833E);
            width: 12.8rem;
            height: 1.9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            border: none;
        }
    }
}