<div class="header">
  <div class="header-texts">
    <p>{{something_location_type}}</p>
    <p class="header-anal-gen">{{anais_gen}}</p>
    <p>{{issn}}</p>
  </div>
  <div class="header-right-side">
    <div class="header-lang-bt">
      <button class="lang-bt">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <span class="material-symbols-outlined">
          language
        </span>
        PT, BR
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
    </div>
    <div class="header-login">
      <div class="header-login-texts">
        <p>Bem vindo!</p>
        <p>{{email}}</p>
      </div>
      <div class="header-profile-pic">
        <div class="header-profile-notification">
          {{notification_num}}
        </div>
      </div>
    </div>
  </div>
</div>