<!-- <div class="flex w-full pb-2">
    <svg width="1025" height="30" viewBox="0 0 1025 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.0332031 0.5H1024.55V27C1024.55 28.933 1022.98 30.5 1021.05 30.5H3.5332C1.60021 30.5 0.0332031 28.933 0.0332031 27V0.5Z" fill="#EAF1F2" stroke="#CCCCCC"/>
        
        </svg>
        <button type="submit" class="block bg-gradient-to-b from-orange-300 to-orange-500 w-40 h-8 justify-end text-white">enviar</button>
            
        
        
</div> -->
