<div id="respostaCard" [ngStyle]="{ 'background-color': tag ? '#E7E7E7' : '' }">
    <div *ngIf="tag" id="tag">
        <p>{{tag}}</p>
        <fa-icon id="faIcon" [icon]="doubleCheckIcon"></fa-icon>
    </div>
    <p><strong>{{nome? nome : ''}}</strong></p>
    <p>Comecinho da pergunta aparece aqui resente relatoComecinho da pergunta aparece aqui resente relatComecinho da pergunta aparece aqui resente relat inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
</div>