@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  padding: 0;
}

.header-discussions {
  @include header-card;
}

.discussions-title {
  @include card-title;
}

.container-discussions-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-dicussions-new-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
}

.line {
  width: 100%;
  height: 0.2px;
  background: $secondary-color-foreground;
}

.container-discussions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.new-topic {
  display: none;
  position: relative;
  overflow: hidden;
}

.new-topic.show {
  display: block;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background: #ddd;
  opacity: 0.8;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);

  img {
    width: 20px;
    height: 23px;
  }
}

.feedback {
  font-family: $font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #707070;
}

.edit-topic {
  font-size: 14px;
  color: $tertiary-color-foreground;
}

.card-discussions-title,
.ops-topic-subject {
  @include card-discussion-title;
}

.card-discussions-subtitle {
  font-weight: 500;
  @include card-text-accent;
}

.card-discussions-text {
  padding-top: 10px;
  @include card-text(14px, 400);
}

.card-dicussions-footer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 12px;
}

.menu-button-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: #e4e4e4;
  }
}

.discussions-icon {
  color: $tertiary-color-foreground;
}

.button-hearth {
  width: 27px;
  height: 19px;
  padding-top: 2px;
  border: none;
  background: $tertiary-color-foreground;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.24))
    drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12));
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #c75a00;
  }
}

.discussions-icon-hearth {
  font-size: 14px;
  color: $primary-color;
}

.card-discussion-react {
  @include card-text(14px, 400);
  color: #757575;
  cursor: pointer;
}
