<mat-card class="container">
    <mat-card-header class="header-discussions">
        <mat-card-title class="discussions-title">Discussões</mat-card-title>
    </mat-card-header>

    <mat-card-content class="container-discussions-content">
        <div class="box-dicussions-new-topic">

            <app-new-topic-discussions *ngIf="showNewTopic"
                (newTopicClicked)="onNewTopicButtonClick()"></app-new-topic-discussions>
            <app-form-discussions style="width: 100%;" *ngIf="showForm"
                (formSubmitted)="onFormSubmit()"></app-form-discussions>
            <app-confirmed-new-topic *ngIf="showConfirmedTopic"
                (newTopicCreate)="onNewTopicButtonClick()"></app-confirmed-new-topic>

            <div class="line"></div>
        </div>

        <div class="container-discussions">
            <mat-card [ngClass]="{'new-topic': true, 'show': showConfirmedTopic}" class="mat-elevation-z2 new-topic">
                <mat-card-header>
                    <mat-card-title class="card-discussions-title">Assunto da pergunta aparece aqui</mat-card-title>
                    <mat-card-subtitle class="card-discussions-subtitle">Carlos Henrique Santos</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p class="card-discussions-text">Comecinho da pergunta aparece aqui resente relato inscreve-se no
                        campo da análise da dimensão e
                        impacto de processo
                        formativo situado impacto de processo formativo processo...</p>
                </mat-card-content>

                <mat-card-footer class="card-dicussions-footer">
                    <button class="menu-button-icon">
                        <mat-icon aria-label="icone de menu" class="discussions-icon">
                            more_vert
                        </mat-icon>
                    </button>

                    <button class="button-hearth">
                        <mat-icon aria-label="icone de menu" class="discussions-icon-hearth">
                            favorite
                        </mat-icon>
                    </button>

                    <p class="card-discussion-react">1 like</p>
                    <p class="card-discussion-react">1 resposta</p>
                </mat-card-footer>

                <div class="overlay-bg"></div>

                <div class="overlay">
                    <img src="/assets/img/done-all-black.svg" alt="Double Done">

                    <p class="feedback">Aguardando feedback dos autores</p>

                    <a href="#" class="edit-topic">Editar tópico</a>
                </div>
            </mat-card>

            <mat-card class="mat-elevation-z2">
                <mat-card-header>
                    <mat-card-title class="card-discussions-title">Assunto da pergunta aparece aqui</mat-card-title>
                    <mat-card-subtitle class="card-discussions-subtitle">Carlos Henrique Santos</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p class="card-discussions-text">Comecinho da pergunta aparece aqui resente relato inscreve-se no
                        campo da análise da dimensão e
                        impacto de processo
                        formativo situado impacto de processo formativo processo...</p>
                </mat-card-content>

                <mat-card-footer class="card-dicussions-footer">
                    <button class="menu-button-icon">
                        <mat-icon aria-label="icone de menu" class="discussions-icon">
                            more_vert
                        </mat-icon>
                    </button>

                    <button class="button-hearth">
                        <mat-icon aria-label="icone de menu" class="discussions-icon-hearth">
                            favorite
                        </mat-icon>
                    </button>

                    <p class="card-discussion-react">1 like</p>
                    <p class="card-discussion-react">1 resposta</p>
                </mat-card-footer>
            </mat-card>

            <app-expand-topic-discussions></app-expand-topic-discussions>
        </div>

    </mat-card-content>
</mat-card>