<div class="container-section-one">
  <div>
      <h2>
          Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP
      </h2>
      <img src="../../../assets/vídeoApresentação.png">
  </div>
  <div class="section-one-info">
      <div class="container-section-one-options">
          <div class="container-section-one-buttons">
              <button>
                  <img src="../../../assets/download.png" alt="Ícone para download">
                  Download
              </button>
              <button>
                  <img src="../../../assets/favoritar.png" alt="Ícone para favoritar">
              </button>
              <button>
                  <img src="../../../assets/doi.png" alt="Ícone para acesso ao DOI">
              </button>
          </div>
          <span>COMO CITAR ESSE TRABALHO?</span>
      </div>
      <aside class="container-detail-info">
          <div class="title-detail-info">
              Detalhes
          </div>
          <div class="info-details">
              <div class="container-presentations">
                  <span>Tipo de Apresentação: </span> <b> Pôster</b> <br />
                  <span>Eixo temático: </span> <b>Alimentação e saúde (AS)</b> <br />
                  <span>Tipo de Apresentação: </span> <b> Alimentos funcionais, alimentação escolar.</b> <br />
              </div>
              <div class="container-authors">
                  <b>Autores:</b>
                  <span>Galileo Galilei¹</span>
                  <span>Berta Lange de Morretes²</span>
                  <span>Isaac Newton³</span>
                  <span>Cesar Lattes¹</span>
                  <span>Stephen Hawking⁴</span>
              </div>
              <br>
              <div class="container-university">
                  <span>¹Universidade Estadual de Campinas</span>
                  <span>²Universidade de São Paulo</span>
                  <span>³Instituto Nacional de Pesquisas Espaciais</span>
                  <span>⁴Universidade Federal do Rio de Janeiro</span>
                  <br />
              </div>
              <!-- Criar barra de rolagem -->
              <br />
              <br />
              <br />
              <div class="container-university">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus delectus quia nam iste odit, adipisci velit accusantium rem fuga architecto doloremque! Enim reprehenderit consequuntur corrupti debitis natus, ipsam ea odit!
            </div>
            <div class="container-university">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus delectus quia nam iste odit, adipisci velit accusantium rem fuga architecto doloremque! Enim reprehenderit consequuntur corrupti debitis natus, ipsam ea odit!
            </div>
            <div class="container-university">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus delectus quia nam iste odit, adipisci velit accusantium rem fuga architecto doloremque! Enim reprehenderit consequuntur corrupti debitis natus, ipsam ea odit!
            </div>
          </div>
        </aside>
    </div>
</div>