@import "../../../../../dist/scss/variables";

section {
  background-color: #f8f8f8;
  padding: 1.8rem 2.3rem;
  border: 1px solid #e7e7e7;
  border-radius: 0px;

  &.bg-white {
    background-color: #fff;
  }


  .card-body {

    .author-comment {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-family: $text-family-secondary;
      }

      .author-name {
        font-size: 1.2rem;
      }

      .author-info {
        display: flex;
        align-items: center;
        gap: 1.3rem;
        font-size: 1.4rem;
      }
    }

    p {
      font-family: $text-family-secondary;
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }
}
