<div class="container">
  <P class="title"
    >Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</P
  >
  <form class="mainTopic" action="">
    <h3>Assunto</h3>
    <input
      class="subject"
      placeholder="Defina um tópico sucinto para notificar os autores..."
      type="text"
    />
    <h3>Conteúdo</h3>
    <input class="content" type="text" />
    <div class="box">
      <button class="btn-create-topic" (click)="changeStateToEnd()">Enviar</button>
    </div>
  </form>
</div>
