<aside class="aside">
  <header class="aside--header">
    <a href="/">
      <h1 class="aside--title">Slaca 2019</h1>
    </a>
  </header>
  <img
    src="/assets/images/side-menu-img.png"
    alt="13 Slaca"
    class="aside--img"
  />
  <nav class="aside--nav">
    <ul class="aside--navlist">
      <li>
        <a class="aside--navlink" href="#presentation">Apresentação</a>
      </li>
      <li>
        <a class="aside--navlink" href="#committees">Comitês</a>
      </li>
      <li>
        <a class="aside--navlink" href="#authors">Autores</a>
      </li>
      <li>
        <a class="aside--navlink" href="#thematic-axes">Eixos Temáticos</a>
      </li>
      <li>
        <a class="aside--navlink aside--navlink__active" href="#jobs"
          >Trabalhos</a
        >
      </li>
      <li>
        <a class="aside--navlink" href="#contact">Contato</a>
      </li>
    </ul>
  </nav>
</aside>
