<div class="footer">
  <div class="footer-logo">
    <img src="./../../../assets/galoa.png" alt="">
    <button>Saiba mais</button>
  </div>
  <div class="footer-text">
    <p>
      <strong>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</strong>
      gerado em eventos é a razão de ser da plataforma Galoá Proceedings.
    </p>
    <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade científica, mantendo aceso o debate científico formentado pelos encontros e aumentando o impacto do evento</p>
  </div>
</div>