<header class="header">
    <div class="container">
        <h1 class="titulo">SLACA 2019</h1>
      <div class="logo">
        <img class="imagem" src="./assets/logoslaca.png" alt="Logo da sua empresa">
      </div>
      <nav class="nav">
        <a href=>Apresentação</a>
        <a href=>Comitês</a>
        <a href=>Autores</a>
        <a href=>Eixos temáticos</a>
        <a class="trabalhos" href=>Trabalhos</a>
        <a href=>Contato</a>
      </nav>
      <div class="menu-button">
        </div>
    </div>
  </header>


