<header class="header">
    <div class="container">
        <h1 class="titulo">SLACA 2019</h1>
      <div class="logo">
        <img class="imagem" src="./assets/logoslaca.png" alt="Logo da sua empresa">
      </div>
      <nav class="nav">
        <a>Apresentação</a>
        <a>Comitês</a>
        <a>Autores</a>
        <a>Eixos temáticos</a>
        <a href='/ts/src/app/side-menu/side-menu.component.html' class="ativado">Trabalhos</a>
        <a>Contato</a>
      </nav>
      <div class="menu-button">
        </div>
    </div>
  </header>


