$gradiente-primario: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
$cor-header-selecionado: rgba(253, 241, 235, 1);

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 220px;
    height: 100%;
    box-shadow: 0px 0px 10px 0px #00000040;
    // margin: 0;
}

.titulo {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    width: 220px;
    height: 68px;
    background-image: linear-gradient(#FFB354, #EE7A3A);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem {
    width: 220px;
    height: 258px;
}

.nav {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
 }

  .nav a {
    text-decoration: none;
    color:#725C5C;
    width: 200px;
    height: 33px;
    border-bottom: 2px solid #e7e7e7;
    display: flex;
    align-items: center;
    padding-left: 24px;
    transition: border-color 0.2s ease-in-out;
  }

  .nav a:hover {
    border-color: #FFB354;
  }

  .ativado {
    border-left: 6px solid orange;
    background-color: $cor-header-selecionado;
  }


