.container{
  display: flex;
  width: 1400px;
  background-color: white;

    &__content{
      padding-left: 200px;
      width: 100%;
      gap: 25px;
      display: flex;
      flex-direction: column;
    }
}

@media only screen and (max-width: 1400px){
  .container{
    width: 100%;
  }
}


