<div class="header">
    <div class="textos">
        <span class="subtitulo">Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
        <h1 class="titulo">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h1>
        <span class="subtitulo">ISSN: 1234-5678</span>
    </div>
    <div class="menu-item">
        <a class="menu_item_language">
            <img class="languageimage" src="./assets/language_image.png" alt="Globo Linguagem">
            <span class="languagetext">PT, BR</span>
            <img class="dropdown" src="./assets/dropdown.svg">
        </a>
    </div>
    <div class="perfil">
        <div class="perfil_edit">
            <span class="perfil_text">Bem vindo!</span>
            <span class="perfil_text_email">alguem12&#64;galoascience.com</span>
        </div>
        <div class="imagem">
            <img class="imagem_perfil" src="./assets/image.svg" alt="Imagem de Perfil">
            <img class="notification" src="./assets/notification_badge.svg">
        </div>
    </div>
</div>