<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="side" opened fixedInViewport="true">
        <div class="sidenav-title-container">
            <h2 class="title">SLACA 2019</h2>
        </div>

        <mat-nav-list class="nav-list">
            <figure>
                <img src="assets/img/logo.svg" class="logo" alt="Logo 13 SLACA">
            </figure>

            <a mat-list-item class="mat-elevation-z1">Apresentação</a>
            <a mat-list-item class="mat-elevation-z1">Comitês</a>
            <a mat-list-item class="mat-elevation-z1">Autores</a>
            <a mat-list-item class="mat-elevation-z1">Eixos temáticos</a>
            <a mat-list-item class="mat-elevation-z1">Trabalhos</a>
            <a mat-list-item class="mat-elevation-z1">Contato</a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>