<!-- These component is responsible to contain the content of the left side menu of the page -->

<section class="left-side-menu">
    <img src="../../../assets/images/top-nome-evento.jpg" alt="Imagem com nome do evento SLACA 2019">
    <img src="../../../assets/images/logo.jpg" alt="Logomarca do eevento 13 SLACA">

    <nav>
        <ul>
            <li>Apresentação</li>
            <li>Comitês</li>
            <li>Autores</li>
            <li>Eixos temáticos</li>
            <li class="trabalhos">Trabalhos</li>
            <li>Contato</li>
        </ul>
    </nav>
</section>