
<header class="header">
    <div class="header__text">
        <h3>Anais do Simpósio Latino Americano de Ciências de Alimentos </h3>
        <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
        <h3>ISSN: 1234-5678</h3>
    </div>

    <div class="header__drop">
        <select name="" id="">
            <option value="">PT,BR</option>
        </select>
    </div>

    <div class="header__user">
        <div class="header__user__text">
            <p class="header__user__text__bv">Bem Vindo!</p>
            <p class="header__user__text__email">alguem12&#64;galoascience.com</p>
        </div>
        <div class="header__user__img">
            <img src="../../../assets/Imagem.png" alt="">
        </div>
    </div>





</header>