<header>
    <div class="container-text">
        <h4>Anais do Simpósio Latino Americano de Ciências de Alimentos</h4>
        <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h3>
        <span>ISSN: 1234-5678</span>
    </div>

    <div class="container-select-language">
        <img src="../../../assets/globe.svg" alt="Símbolo de globo para troca de idioma no site">
        <span>PT, BR</span>
        <img src="../../../assets/dropdown.svg">
    </div>

    <div class="container-info-user">
        <div class="info-user-text">
            <span>
                Bem vindo!
            </span>
            <span>
                alguem13@galoscience.com
            </span>
        </div>
        <div class="info-user-icon">
            <div>
                2
            </div>
            <img src="../../../assets/user.png" alt="">
        </div>
    </div>
</header>