<header>
  <div class="container-title-header">
    <h3>Anais do Simpósio Latino Americano de Ciências de Alimentos</h3>
    <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
    <h4>ISSN: 1234-5678</h4>
  </div>
  <div class="container-select-language">
      <img src="../../../assets/languageImage.png" alt="Símbolo de um globo">
      <span>PT, BR</span>
      <img src="../../../assets/dropdown.png">
  </div>
  <div class="container-info-user">
    <div class="text-info-user">
      <span>Bem vindo!</span>
      <span>alguem13@galoscience.com</span>
    </div>
    <div class="icon-user">
      <span>2</span>
      <img src="../../../assets/Imagem.png" alt="Foto do usuário">
    </div>
  </div>
</header>