@import '../../../dist/scss/variables';

section {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem 4.5rem;

  .main-content {
    max-width: 78.4rem;

    h2 {
      font-size: 2rem;
      color: $primary-color;
      line-height: 2.5rem;
      margin-bottom: 1.9rem;
    }
  }
}
