.container {
    display: flex;
    margin-top: 20px;
    margin-left: 44px;
    margin-right: 44px;

}

.content-container {
    width: 786px;

    .title {
        color: #ED7839;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 900;
        margin: 1px;
        text-align: left;
        padding-bottom: 18px;
    }

    .video-player {
        width: 784px;
        height: 455px;
        border: 1px solid #ECECEC;
        background-image: url(../../../assets/videoOverlay.png);
    }

    .video-title {
        margin-left: 40px;
        position: absolute;
        color: white;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0.05em;
        width: 734px;
        height: 54px;
    }

    .video-autora {
        color: #FFFFFF;
        position: absolute;
        width: 452px;
        height: 36px;
        font-family: Roboto;
        font-size: 34px;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0.05em;
        text-align: left;

        margin-left: 140px;
        margin-top: 335px;
    }

    .video-creditos {
        margin-left: 140px;
        color: #FFFFFF;
        position: absolute;
        width: 417px;
        height: 27px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 0.05em;
        text-align: left;
        margin-top: 370px;
    }

    .video-foto {
        position: absolute;
        width: 84px;
        height: 84px;
        border-radius: 50%;
        border: 1px solid #ED7839;
        margin-left: 35px;
        margin-top: 320px;

        .foto{
            margin-top: 1px;
            margin-left: 2px;
            width: 80px;

        }
    }

}

.spacer {
    padding-left: 21px;
}

.content-actions {
    .btn-download {
        width: 120px;
        height: 31px;
        padding: 6px 12px 6px 12px;
        gap: 5px;
        border-radius: 4px;
        background-color: #ED7839;
        color: white;
        border: 1px solid #000000;
        margin-right: 8px;
        margin-left: 11px;
    }

    .btn-favorite {
        width: 43px;
        height: 31px;
        padding: 6px 12px 6px 12px;
        gap: 5px;
        border-radius: 4px;
        background-color: #ED7839;
        color: white;
        border: 1px solid #000000;
        margin-right: 8px;
    }

    .btn-doi {
        width: 43px;
        height: 31px;
        padding: 6px 12px 6px 12px;
        gap: 5px;
        border-radius: 4px;
        background-color: #ED7839;
        color: white;
        border: 1px solid #000000;
    }

    .citacao {
        align-items: center;
        padding-top: 10px;
        color: #ED7839;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    .detalhes-container {
        margin: 1px;
        width: 242px;
        height: 455px;
        border-radius: 3px;
        border: 1px solid #ECECEC;
        display: grid;

        .detalhes-title {
            align-content: center;
            margin: 0px;
            height: 45px;
            background-color: #FDF1EB;
            border-radius: 3px;
            border: 1px solid #ECECEC;

            padding-left: 10px;
            color: #4E4E4E;
            font-weight: 500;
        }

        .detalhes-texto {
            width: 212px;
            height: 364px;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            letter-spacing: 0.02em;
            text-align: left;
        }
    }
}


.resumo-container {
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 30px;
    width: 1050px;
    border-radius: 3px;
    border: 1px solid #ECECEC;

    .resumo-title {
        align-content: center;
        margin: 0px;
        height: 45px;
        background-color: #FDF1EB;
        border-radius: 3px;
        border: 1px solid #ECECEC;

        padding-left: 10px;
        color: #4E4E4E;
        font-weight: 500;
    }

    .content {
        margin-bottom: 0px;
    }

    .btn-show-more {
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: #ED7839;
        border: 0px;
        background-color: white;
    }

    #mais {
        display: none;
    }
}

.discussao-container {
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 30px;
    padding-bottom: 15px;
    width: 1050px;
    border-radius: 3px;
    border: 1px solid #ECECEC;
    align-items: center;

    .discussao-title {
        align-content: center;
        margin: 0px;
        width: 1040px;
        height: 45px;
        background-color: #FDF1EB;
        border-radius: 3px;
        border: 1px solid #ECECEC;

        padding-left: 10px;
        color: #4E4E4E;
        font-weight: 500;
    }

    .discussao-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .discussao-subtitle {
        padding-top: 10px;
        color: #ED7839;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.05em;
    }

    .discussao-icons {
        height: 51px;
    }

    .discussao-legenda {
        width: 626px;
        height: 39px;

        font-size: 14px;
        font-weight: 400;
        line-height: 19.25px;
    }

    .discussao-divisoria {
        margin-top: 10px;
        position: relative;
        width: 1027px;
        border: 1px solid #E7E7E7;

    }

    .btn-create-topic {
        cursor: pointer;
        position: absolute;
        margin-top: 183px;
        color: white;
        width: 133px;
        height: 32px;
        background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
        border-radius: 3px;
        border: 0px;
        box-shadow: 0px 2px 2px 0px #0000003D;
    }

    .form {
        margin-left: 20px;


        .subtitle {
            font-family: Quicksand;
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: center;
        }

        .body {
            padding: 15px;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.75px;
            text-align: left;
            color: #ED7839;
        }

        .subject {
            width: 987px;
            height: 39px;
            border-radius: 3px;
            border: 1px solid #CCCCCC;
            align-content: center;
            padding-left: 20px;

            font-family: Quicksand;
            font-size: 14px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            color: #4D4D4D;

        }

        .text-box {
            position: relative;
            width: 1007px;
            height: 113px;
            border-radius: 4px;
            border: 1px solid #CCCCCC;
            margin-bottom: 20px;


            .btn-container {
                position: absolute;
                width: 1007px;
                height: 31px;
                border-top: 1px solid #CCCCCC;
                background: #EAF1F2;
                bottom: 0;
            }

            .submit {
                cursor: pointer;
                position: absolute;
                right: 0;
                width: 205.1px;
                height: 31px;
                border-radius: 0px 0px 4px 0px;
                border: 0px;
                color: white;
                background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
                animation-timing-function: ease-out;
                animation-duration: 300ms;
            }
        }
    }

    .card-topico {
        margin-top: 30px;
        width: 968px;
        height: 148px;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 0px 8px 0px #0000001F;
        padding: 20px;

        .assunto {
            margin: 0px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            color: #ED7839;
        }

        .contribuinte {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            text-align: left;
        }

        .content {
            margin-top: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            color: #757575;
        }

        #more-options-icon {
            margin-right: 15px;
            color: #ED7839;
        }

        .btn-favoritar {
            padding-top: 3px;
            padding-bottom: 3px;
            width: 27px;
            height: 19px;
            background: #ED7839;
            color: white;
            border: 0px;
            border-radius: 2px;
            box-shadow: 0px 2px 2px 0px #0000003D;
        }

        .footer {
            margin-top: 30px;

            span {
                margin-left: 10px;
                color: #757575;
            }
        }
    }

    .topico-submit-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            margin-top: 15px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            color: #ED7839;
        }

        .content {
            font-size: 16px;
            font-weight: 400;
            line-height: 17.5px;
            color: #757575;
        }

        .mais-trabalhos {
            align-items: center;
            padding-top: 10px;
            color: #F48F44;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            text-align: center;
            text-decoration: underline;
            margin-bottom: 50px;
        }

        .btn-novo-topico {
            cursor: pointer;
            position: absolute;
            margin-top: 195px;
            color: white;
            width: 235.15px;
            height: 32px;
            border-radius: 3px;
            border: 0px;
            background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
            box-shadow: 0px 2px 2px 0px #0000003D;
        }
    }

    .card-topico-aguardando {
        margin-top: 30px;
        width: 968px;
        height: 148px;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 0px 8px 0px #0000001F;
        padding: 20px;
        opacity: 0.1;

        .assunto {
            margin: 0px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            color: #ED7839;
        }

        .contribuinte {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            text-align: left;
        }

        .content {
            margin-top: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            color: #757575;
        }

        #more-options-icon {
            margin-right: 15px;
            color: #ED7839;
        }

        .btn-favoritar {
            padding-top: 3px;
            padding-bottom: 3px;
            width: 27px;
            height: 19px;
            background: #ED7839;
            color: white;
            border: 0px;
            border-radius: 2px;
            box-shadow: 0px 2px 2px 0px #0000003D;
        }

        .footer {
            margin-top: 30px;

            span {
                margin-left: 10px;
                color: #757575;
            }
        }
    }

    .sobreposto {
        position: absolute;
        margin-top: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #757575;

        .editar-topico {
            color: #F48F44;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            text-decoration: underline;
            margin-bottom: 50px;

        }
    }

    .answered-topic {
        cursor: pointer;
        margin-top: 20px;
        width: 968px;
        height: 148px;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 0px 8px 0px #0000001F;
        padding: 20px;

        .ops-topic-subject {
            margin: 0px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
            color: #ED7839;
        }

        .contribuinte {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            text-align: left;
        }

        .content {
            margin-top: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            color: #757575;
        }

        #more-options-icon {

            margin-right: 15px;
            color: #ED7839;
        }

        .btn-favoritar {
            padding-top: 3px;
            padding-bottom: 3px;
            width: 27px;
            height: 19px;
            background: #ED7839;
            color: white;
            border: 0px;
            border-radius: 2px;
            box-shadow: 0px 2px 2px 0px #0000003D;
        }

        .footer {
            margin-top: 30px;

            span {
                margin-left: 10px;
                color: #757575;
            }
        }


    }

    .comments-container {
        cursor: pointer;
        width: 968px;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 0px 8px 0px #0000001F;
        padding: 20px;

        .header {
            display: flex;
            justify-content: space-between;

            .contribuinte {
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                text-align: left;
            }

            .relevancia {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                text-align: left;
                color: #ED7839;
                padding-right: 30px;

                i {
                    padding-left: 10px;
                }
            }
        }

        .content {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 17.5px;
            text-align: left;
            color: #757575;
        }
    }
}