<section>
    <div class="container">
        <div class="container__left">
            <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
            <div class="container__left__video">
                <img class="container__left__video__back" src="../../assets/dewey 1.png" alt="">
                <img class="container__left__video__front" src="../../assets/vídeo overlay.png" alt="">
                <div class="container__left__video__info">
                    <h1>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do
                        município de Campinas/SP </h1>
                    <div class="container__left__video__info__text">
                        <img src="../../assets/Imagem video rosto.png" alt="">
                        <div >
                            <h2>Beatriz Christiane Melo</h2>
                            <p>FCA / Universidade Estadual de Campinas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container__rigth">

            <div class="container__rigth__btn">
                <button class="container__rigth__btn__dwn"><img class="container__rigth__btn__dwn__img"  src="../../assets/baixar-para-unidade-de-armazenamento.png" alt="">  Download</button>
                <button class="container__rigth__btn__est"><img class="container__rigth__btn__est__img"  src="../../assets/estrela (1).png" alt=""></button> 
                <button class="container__rigth__btn__doi"><img src="../../assets/doi.png" alt=""></button>

            </div>
            
            <h3 class="container__rigth__text">COMO CITAR ESSE TRABALHO?</h3>

            <div class="container__rigth__box">
                <h2 >Detalhes</h2>
                <div class="container__rigth__box__bloco">
                    <p>
                        Tipo de Apresentação: <strong>Pôster</strong> <br>
                        Eixo temático: <strong>Alimentação e saúde (AS) </strong> <br>
                        Palavras-chaves: <strong>Alimentos <br> funcionais, alimentação escolar.</strong> <br>
                    </p>
                    <p>
                        <strong>Autores:</strong> <br>
                        Galileo Galilei¹ <br>
                        Berta Lange de Morretes² <br>
                        Isaac Newton³ <br>
                        Cesar Lattes¹ <br>
                        Stephen Hawking⁴ <br>
                    </p>
                    <p class="container__rigth__box__bloco__opacit">
                        ¹Universidade Estadual de Campinas <br>
                        ²Universidade de São Paulo <br>
                        ³Instituto Nacional de Pesquisas <br> Espaciais <br>
                        ⁴Universidade Federal do Rio de <br>Janeiro<br>
                    </p>
                
                </div>

            </div>

        

        </div>




    </div>
</section>