<div class="box-dicussions-confirmed-topic">
    <h3 class="confirmed-topic-title">Seu tópico foi enviado com sucesso! :D</h3>

    <p class="confirmed-item">Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus
        questionamentos ou
        sugestões para o autor!</p>

    <a href="#" class="view-new-work">Descubra outros trabalhos!</a>

    <button mat-button class="btn-create-topic" (click)="onNewTopicClick()">
        criar novo tópico
    </button>
</div>