.section-container {
  width: 100%;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  .section-title {
    background: #FDF1EB;
    padding: 10px 15px;

    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      text-align: left;
      color: #4E4E4E;
    }
  }

  .section-content {
    padding: 15px;
  }
}
