<section>
  <div class="panel-header">
    <p>Discussões</p>
  </div>
  <div class="add-topic-container">
    <div class="body">
      <h5>Compartilhe suas ideias ou dúvidas com os autores!</h5>
      <div class="icons-group">
        <img src="assets/hand.svg" alt="" />
        <img src="assets/qa.svg" alt="" />
        <img src="assets/idea.svg" alt="" />
      </div>
      <p>
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus questionamentos ou sugestões para o autor!
      </p>
      <a href="#" class="btn-create-topic"
        ><img src="assets/add.svg" alt="" /><span>criar tópico</span></a
      >
    </div>
    <div class="topic-items">
      <app-topic-item></app-topic-item>
      <app-topic-item></app-topic-item>
    </div>
  </div>
</section>
