<mat-card class="summary">
    <mat-card-header class="header-summary">
        <mat-card-title class="summary-title">Resumo</mat-card-title>
    </mat-card-header>

    <mat-card-content class="summary-details">
        <p class="summary-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
            mollis felis ut,
            commodo turpis.
            Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies
            gravida. Etiam
            aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem
            vestibulum ut.
            Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin
            ligula in
            sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non
            lorem. Sed
            id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam
            dictum nisl,
            vel aliquet enim accumsan sit ametl accumsant <strong> ... ver mais</strong></p>
    </mat-card-content>
</mat-card>