@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.summary {
  padding: 0;
}

.header-summary {
  @include header-card;
}

.summary-title {
  @include card-title;
}

.summary-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.summary-item {
  @include card-text(14px, 400);

  strong {
    font-weight: 700;
    color: $tertiary-color-foreground;
    cursor: pointer;
  }
}

.summary-item.remove {
  display: none;
}

.summary-text {
  @include card-text(14px, 400);
  display: none;
}

.summary-text.show {
  display: block;
}
