<section class="container-discussion-topics">
  <h1>Discussões</h1>
  <div class="container-create-topic" *ngIf="stepForm==='topic'">
      <h3>Compartilhe suas ideias ou dúvidas com os autores!</h3>
      <div class="container-icons-create-topic">
          <img src="../../../assets/icone1.png" alt="Símbolo de uma mão segundo uma planta">
          <img src="../../../assets/icone2.png" alt="Símbolo mostrando 'Q' 'A' para perguntas">
          <img src="../../../assets/icone3.png" alt="Símbolo de duas pessoas conversando">
      </div>
      <span>
          Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
          questionamentos
          ou sugestões para o autor!
      </span>
      <div class="container-button-create-topic">
          <div> </div>
          <button type="button" class="btn-create-topic" (click)="handleShowFormCreateTopic()">
              <img src="../../../assets/iconCriar.png" alt="Símbolo do sinal de mais">
              criar tópico
          </button>
      </div>
  </div>

  <form *ngIf="stepForm==='create'" (ngSubmit)="handleSubmitNewTopic()" [formGroup]="topicForm" #formDir="ngForm" > 
      <h4>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</h4>
      <label for="topic-subject">
          Assunto:
          <input id="topic-subject" class="subject"
              placeholder="Defina um tópico sucinto para notificar os autores..." type="text"
              formControlName="subject">
      </label>
      <div class="container-topic-content">
          <label for="topic-content">
              Conteúdo:
              <textarea id="topic-content" class="content" formControlName="content"></textarea>
              <div class="container-button-submit-topic">
                  <button>Enviar</button>
              </div>
          </label>
      </div>
  </form>

  <div class="container-feedback" *ngIf="stepForm==='feedback'">
      <div class="container-create-topic">
          <h3>
              Seu tópico foi enviado com sucesso! :D
          </h3>
          <span>
              Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for
              respondido!
          </span>
          <div class="container-button-create-topic">
              <div> </div>
              <button type="button" class="btn-create-topic" (click)="handleShowFormCreateTopic()">
                  <img src="../../../assets/iconCriar.png" alt="Símbolo do sinal de mais">
                  criar novo tópico
              </button>
          </div>
      </div>

      <div class="container-feedback-message">
          <app-section-topics></app-section-topics>
          <div class="feedback-message">
              <img src="../../../assets/check.png" alt="Símbolo de verificação">
              <h3>Aguardando feedback dos autores</h3>
              <a href="#">
                  Editar tópico
              </a>
          </div>
      </div>
  </div>
  <app-section-topics></app-section-topics>
</section>