.comments-container {
  width: 100%;

  .comment {
    position: relative;
    padding: 18px 23.2px;
    border: 1px solid #E7E7E7;
    font-family: 'Quicksand', sans-serif;

    h5 {
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      text-align: left;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 17.5px;
      text-align: left;
    }

    .comment-details {
      position: absolute;
      display: flex;
      gap: 2.063rem;
      align-items: center;
      top: 12px;
      right: 23px;

      span {
        font-size: 14px;
        font-weight: 700;
        line-height: 17.5px;
        text-align: left;
        color: #ED7839;
      }
    }
  }

  .admin {
    background: #F8F8F8;
  }
}
