footer {
    background-image: url("../../../assets/images/footer-image.png");
    background-size: cover;
    width: 71.6rem;
    height: 11.3rem;
    margin-left: 14.2rem;
    position: absolute;
    top: 95rem;
}