<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLACA 2019</title>
</head>
<body>
  <div class="menu-principal">
    <div class="slaca-banner">
        <span>SLACA 2019</span>
    </div>
    <img src="../assets/slaca-logo.svg" alt="Logo SLACA">
    <div class="navigation-menu">
      <button>Apresentação</button>
      <button>Comitês</button>
      <button>Autores</button>
      <button>Eixos temáticos</button>
      <button>Trabalhos</button>
      <button>Contato</button>
    </div>
  </div>
  <header>
    <div class="slaca-header">
      <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
      <br /><span>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span>
      <br /><span>ISSN: 1234-5678</span>
      <button>
        <img src="../assets/language image.svg">
        PT,BR
      </button>
    </div>
  </header>
</body>
</html>
