* {
  color: #5c5c5c;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

$padding-page: 44px;
$font-roboto: "Roboto", sans-serif;
$font-quicksand: "Quicksand", sans-serif;
$orange-color: #ed7839;
$orange-color-hover: #ffb455;
$color-header: #fdf1eb;

h1 {
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.side-menu {
  width: 220px;
  height: 100%;
  position: fixed;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.side-menu img {
  margin-top: 20px;
  width: 220px;
  height: 220px;
}

.slaca {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}

.slaca h1 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}

.side-menu-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.side-menu-item {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 10px 0;
  border-bottom: 2px solid #e7e7e7;
  transition: padding 0.1s ease, background-color 0.1s ease,
    border-left 0.1s ease;

  &:hover {
    padding: 10px;
    background-color: $color-header;
  }
}

.side-menu-item span {
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 0px 24px;
}

.selected {
  position: relative;
  padding: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background: linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
  }
}

.content-area {
  margin-left: 220px;
  width: calc(100% - 220px);
  height: 100%;
  overflow-y: auto;
}

.spacePage {
  padding-inline-start: 44px;
}

.header-page {
  height: 68px;
  padding-inline-start: $padding-page;
  display: flex;
  background-color: $color-header;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  flex-direction: row;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-titles h2 {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
}

.header-titles span {
  font-weight: 400;
  font-size: 12px;
}

.container-user-data-language {
  padding-inline-end: $padding-page;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-language {
  border: 2px solid #cccccc;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  padding: 5px 10px;
}

.select-language i {
  margin-right: 5px;
}

.select-language select {
  font-size: 12px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #333333;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.user-data span {
  font-size: 12px;
}

.user-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.user-photo img {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
}

.notification {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #f85959;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification span {
  font-family: $font-roboto;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

.content-page {
  padding: 22px $padding-page 44px $padding-page;
}

.container-row-title-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title-page {
  width: 810px;

  h2 {
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: 900;
    color: $orange-color;
    line-height: 25px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    padding-right: 100px;
  }
}

.container-action-buttons {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  a {
    font-family: $font-roboto;
    font-size: 14px;
    color: $orange-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.icon-white {
  color: white;
}

.icon-orange {
  color: $orange-color;
}

.button-large {
  width: 120px;
  height: 31px;
  background-color: $orange-color;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-family: $font-roboto;
    color: #ffffff;
    size: 16px;
    font-weight: 500px;
    line-height: 18px;
    margin-left: 5px;
  }

  &:hover {
    background-color: $orange-color-hover;
  }
}

.button-small {
  width: 43px;
  height: 31px;
  background-color: $orange-color;
  border-radius: 4px;
  margin: 0 0 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $orange-color-hover;
  }

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.icon-doi {
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 19px;
    height: 19px;
  }
}

.container-row-imagem-video-detalhes {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 600px;
  margin-bottom: 40px;
}

.imagem-wrapper {
  position: relative;
  display: inline-block;
  width: 1050px;

  &::after {
    clip-path: inset(5px 5px 5px 5px);
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 100, 0, 0.4);
    z-index: 1;
  }

  img {
    border-radius: 20px;
    clip-path: inset(5px 5px 5px 5px);
    z-index: 0;
    width: 100%;
  }
}

.title-video {
  position: absolute;
  z-index: 2;
  width: 824px;
}

.content-imagem-text {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 40px;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 824px;
  height: 100%;
}

.information-video {
  display: flex;
  margin-bottom: 20px;

  img {
    border-radius: 38px;
    width: 76px;
    height: 76px;
    object-fit: cover;
    object-position: top;
    transform: scale(2) translateY(6px);
  }
}

.information-video-border-image {
  border: 2px solid #ed7839;
  border-radius: 43px;
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.information-video-user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.content-imagem-text h1 {
  font-family: $font-roboto;
  font-size: 34px;
  line-height: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;
}

.content-imagem-text h2 {
  font-family: $font-roboto;
  font-size: 24px;
  line-height: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;
}

.content-imagem-text h3 {
  font-family: $font-roboto;
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;
}

.container-detalhes-trabalho {
  width: 525px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.header-detalhes {
  background-color: $color-header;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #cccccc;

  h3 {
    color: #4e4e4e;
    font-family: $font-roboto;
    font-size: 20px;
    padding: 10px 0 0 15px;
    font-weight: 500px;
    line-height: 25px;
  }
}

.detalhes-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: scroll;
  height: 100%;
  max-height: 550px;

  span {
    font-family: $font-quicksand;
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
  }

  .detalhes-response {
    font-weight: bold;
  }

  .small-number {
    font-size: 8px;
    vertical-align: super;
  }
}

.poster-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.autores-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.universidade-content {
  display: flex;
  flex-direction: column;

  span {
    font-size: 12px;
  }
}

.generic-card {
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
  margin-bottom: 40px;

  .header-generic-card {
    background-color: $color-header;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #cccccc;

    h3 {
      color: #4e4e4e;
      font-family: $font-roboto;
      font-size: 20px;
      padding: 10px 0 0 15px;
      font-weight: 500px;
      line-height: 25px;
    }
  }

  .content-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;

    span {
      font-family: $font-quicksand;
      font-size: 14px;
      font-weight: 400px;
      line-height: 20px;
    }
  }
}

.texto-resumo-first {
  span {
    font-size: 15px !important;
  }
}

.btn-show-more {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;

  span {
    color: $orange-color;
    cursor: pointer;
  }
  &:hover {
    text-decoration: underline $orange-color;
  }
}

.container-criar-topico {
  h2 {
    font-family: $font-roboto;
    font-size: 18px;
    color: $orange-color;
  }

  span {
    font-size: 14px;
    line-height: 19.25px;
    color: #595959;
    text-align: center;
  }
}

.container-criar-novo-topico {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-family: $font-roboto;
    font-size: 18px;
    color: $orange-color;
  }

  span {
    font-size: 14px;
    line-height: 19.25px;
    color: #595959;
    text-align: center;
    padding: 35px;
  }

  a {
    font-size: 14px;
    color: $orange-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.container-nao-criando-topico {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compartilhe-ideias {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.discussoes-icons {
  display: flex;
  flex-direction: row;

  img {
    padding: 35px;
  }
}

.barra-divisioria-criar-topico {
  width: 100%;
  border: 0.5px solid #e7e7e7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.btn-create-topic {
  position: absolute;
  width: 133px;
  height: 32px;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 2px 2px 0px #0000003d, 0px 0px 2px 0px #0000001f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  span {
    color: #ffffff;
    font-weight: bold;
  }

  fa-icon {
    font-size: 17px;
    margin-right: 5px;
  }

  &:hover {
    background: linear-gradient(180deg, #f0813d 0%, #feb254 100%);
  }
}

.btn-create-new-topic {
  position: absolute;
  width: 235px;
  height: 32px;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  box-shadow: 0px 2px 2px 0px #0000003d, 0px 0px 2px 0px #0000001f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  span {
    color: #ffffff;
    font-weight: bold;
  }

  fa-icon {
    font-size: 17px;
    margin-right: 5px;
  }

  &:hover {
    background: linear-gradient(180deg, #f0813d 0%, #feb254 100%);
  }
}

.container-cards-discussoes {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 0px #0000001f;
  border-radius: 4px;
}

.answered-topic {
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.ops-topic-subject {
  h3 {
    font-size: 16px;
    color: $orange-color;
    margin: 0;
  }
}

.ops-topic-subject > span {
  font-size: 12px !important;
  font-weight: bold;
}

.card-respostas {
  border-top: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  h3 {
    font-size: 12px !important;
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
  padding: 20px 20px 20px 20px;
}

.card-respostas.autor-coautores {
  background-color: #f8f8f8;
}

.container-autor-coautor-resposta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon-and-class-resposta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  span {
    color: $orange-color !important;
    font-weight: bold;
  }
  fa-icon {
    color: $orange-color;
    font-size: 20px;
  }
}

.topico-aguardando-feedback {
  border: 1px solid #cccccc;
  box-shadow: 0px 0px 8px 0px #0000001f;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  background-color: #e7e7e7;
  height: 100%;
  position: relative;
}

.background-desfocado-topico {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  opacity: 0.5;
  filter: blur(4px);
}

.agurdando-feedback-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  h2 {
    color: #707070 !important;
    font-family: $font-quicksand;
    font-size: 16px !important;
  }
  fa-icon {
    font-size: 20px;
  }
  a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $orange-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.actions-topico {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  }

  fa-icon {
    cursor: pointer;
  }
}

.actions-topico span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-like-topico {
  box-shadow: 0px 2px 2px 0px #0000003d, 0px 0px 2px 0px #0000001f;
  background-color: $orange-color;
  border-radius: 2px;
  width: 27px;
  height: 19px;
  display: flex;
  justify-content: center;
}

.btn-like-topico fa-icon {
  font-size: 14px;
}

.generic-barra-divisioria {
  width: 100%;
  border: 0.5px solid #e7e7e7;
  margin-bottom: 20px;
}

.container-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo-e-saiba-mais {
  display: flex;
  flex-direction: column;

  img {
    width: 200px;
  }
}

.btn-footer-saiba-mais {
  background-color: #71478e;
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: calc(10px / 2);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }

  a {
    color: #fff;
  }
}

.text-footer {
  display: flex;
  flex-direction: column;
}

.container-criando-topico {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-criando-topico {
  span {
    letter-spacing: 0.5px;
  }
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  input {
    height: 40px;
    width: 100%;
    border: 0.5px solid #cccccc;
    border-radius: 3px;
    outline: none;
    padding: 20px;
    margin-bottom: 10px;
  }

  textarea {
    display: block;
    width: 100%;
    border: 0.5px solid #cccccc;
    border-radius: 3px 3px 0 0;
    outline: none;
    padding: 10px 10px 20px 20px;
    margin-bottom: 0;
  }
}

.container-row-enviar-topico {
  width: 100%;
  background-color: #cccccc;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-save-new-topic {
  background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
  width: 205.1px;
  height: 31px;
  top: 214px;
  left: 818.4px;
  gap: 0px;
  border-radius: 0px 0px 4px 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }

  &:hover {
    background: linear-gradient(180deg, #f1833e 0%, #feb154 100%);
  }
}
