* {
  color: #5c5c5c;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
$padding-page: 44px;

h1 {
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.side-menu {
  width: 220px;
  height: 100%;
  position: fixed;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.side-menu img {
  margin-top: 20px;
  width: 220px;
  height: 220px;
}

.slaca {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #ee7b3a, #feb253);
}

.slaca h1 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}

.side-menu-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.side-menu-item {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 10px 0;
  border-bottom: 2px solid #e7e7e7;
}

.side-menu-item span {
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 0px 24px;
}

.selected {
  background-color: #fdf1eb;
  border-left: 5px solid #ee7b3a;
}

.content-area {
  margin-left: 220px;
  width: calc(100% - 220px);
  height: 100%;
  overflow-y: auto;
}

.spacePage {
  padding-inline-start: 44px;
}

.header {
  height: 68px;
  padding-inline-start: $padding-page;
  display: flex;
  background-color: #fdf1eb;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  flex-direction: row;
}

.header-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-titles h2 {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
}

.header-titles span {
  font-weight: 400;
  font-size: 12px;
}

.container-user-data-language {
  padding-inline-end: $padding-page;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-language {
  border: 2px solid #cccccc;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  padding: 5px 10px;
}

.select-language i {
  margin-right: 5px;
}

.select-language select {
  font-size: 12px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #333333;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.user-data span {
  font-size: 12px;
}

.user-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.user-photo img {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
}

.notification {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #f85959;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification span {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

.content-page {
  padding-inline-start: $padding-page;
  padding-inline-end: $padding-page;
  padding-block-start: 22px;
  padding-block-end: 22px;
}

.container-titulo-citacao {
  display: flex;
  flex-direction: row;
}

.titulo-imagem {
  width: 1200px;
  height: 784px;
  // background-color: red;
}

.titulo-imagem h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #ed7839;
  margin-bottom: 25px;
  line-height: 25px;
  letter-spacing: 2px;
}

.citacao {
  width: 20px;
}
