.container {
  display: flex;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: sticky;
  box-shadow: 3px 0 5px 1px #e7e7e7;
  z-index: 1;
  flex: 0 0 200px;
}

.side-bar h1 {
  width: 100%;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
}

.side-bar img {
  width: 100%;
}

.side-bar ul {
  width: 100%;
  list-style: none;
}

.side-bar ul li {
  width: 100%;
  border-bottom: 2px solid #e7e7e7;
}

.side-bar ul li:nth-child(5) {
  background: #fdf1eb;
  border-left: 4px solid #ed7839;
}

.side-bar ul li a {
  display: block;
  padding: 0.5rem 0;
  margin-left: 1.6rem;

  font-size: 0.8rem;
  color: #725c5c;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.side-bar ul li a:hover {
  color: #fcaa50;
}
