:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 13.75em;
  top: 0px;
  bottom: 0px;
  height: 100vh;
  left: 0px;
  position: fixed;
}

.main {
  flex: 1;
}

.header,
.content,
.footer {
  padding: 20px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}
