<!-- Toolbar -->
<div class="layout">
  <div class="side-menu" role="banner">
    <div class="slaca">
      <h1>{{ titleSideMenu }}</h1>
    </div>
    <div>
      <img src="../assets/13-slaca.png" alt="" />
      <div class="side-menu-container">
        <div
          class="side-menu-item"
          *ngFor="let option of optionsSideMenu; let i = index"
          (click)="selectItemMenu(i + 1)"
          [class.selected]="selectedItemMenu === i + 1"
        >
          <span>{{ option.label }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content-area" role="main">
    <div class="header">
      <div class="header-content">
        <div class="header-titles">
          <span>{{ headerData["firstTitleHeader"] }}</span>
          <h2>
            {{ headerData["titleHeader"] }}
          </h2>
          <span>ISSN: {{ issn }}</span>
        </div>
      </div>
      <div class="container-user-data-language">
        <div class="select-language">
          <fa-icon [icon]="faGlobe"></fa-icon>
          <select (change)="selectLanguage($any($event.target).value)">
            <option *ngFor="let language of languages" [value]="language.id">
              {{ language.label }}
            </option>
          </select>
        </div>
        <div class="user-data">
          <span>Bem vindo!</span>
          <span>{{ emailUser }}</span>
        </div>
        <div class="user-photo">
          <img src="../assets/user-photo.jpeg" />
          <div class="notification">
            <span>{{ notificationNoRead }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-page">
      <div class="container-row-title-buttons">
        <div class="title-page">
          <h2>{{ titlePage }}</h2>
        </div>

        <div class="container-action-buttons">
          <div class="action-buttons">
            <div class="button-large">
              <fa-icon [icon]="faDownload" class="icon-white"></fa-icon>
              <span>Download</span>
            </div>
            <div
              class="button-small"
              (click)="handleFavoritarCitacao(!citacaoFavorita)"
            >
              <fa-icon
                [icon]="citacaoFavorita ? faStar : faStarRegular"
                class="icon-white"
              ></fa-icon>
            </div>
            <div class="button-small">
              <div class="icon-doi">
                <img src="../assets/doi-icon.png" />
              </div>
            </div>
          </div>
          <a>COMO CITAR ESSE TRABALHO?</a>
        </div>
      </div>

      <div class="container-row-imagem-video-detalhes">
        <div class="content-imagem-text">
          <h2>{{ videoData.titleVideo }}</h2>
          <div class="information-video">
            <div class="information-video-border-image">
              <img src="../assets/author-image.png" />
            </div>
            <div class="information-video-user-data">
              <h1>{{ videoData.authorName }}</h1>
              <h3>{{ videoData.authorLocalization }}</h3>
            </div>
          </div>
        </div>
        <div class="imagem-wrapper">
          <img src="../assets/video-image.png" />
        </div>
        <div class="container-detalhes-trabalho">
          <div class="header-detalhes">
            <h3>Detalhes</h3>
          </div>
          <div class="detalhes-content">
            <div class="poster-content">
              <span *ngFor="let detalhe of detalhesTrabalho">
                {{ detalhe.label }} :
                <span class="detalhes-response">{{ detalhe.response }}</span>
              </span>
            </div>
            <div class="autores-content">
              <span class="detalhes-response">Autores: </span>
              <span *ngFor="let autor of autores"
                >{{ autor.name }}
                <span class="small-number">{{ autor.number }} </span>
              </span>
            </div>
            <div class="universidade-content">
              <span *ngFor="let universidade of universidades">
                <span class="small-number">{{
                  universidade.universidadeNumber
                }}</span>
                {{ universidade.universidadeName }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="content-page">
      <div class="container-titulo-citacao">
        <div class="container-titulo-imagem">
          <h2>{{ titlePage }}</h2>
          <div class="imagem-video">
            <div class="content-imagem-text">
              <h2>{{ videoData.titleVideo }}</h2>
              <div class="information-video">
                <div class="information-video-border-image">
                  <img src="../assets/author-image.png" />
                </div>
                <div class="information-video-user-data">
                  <h1>{{ videoData.authorName }}</h1>
                  <h3>{{ videoData.authorLocalization }}</h3>
                </div>
              </div>
            </div>
            <div class="imagem-wrapper">
              <img src="../assets/video-image.png" />
            </div>
          </div>
        </div>
        <div class="container-citacao">
          <div class="action-buttons"></div>
        </div>
      </div>
    </div> -->
  </div>
</div>
