/* Sidebar Menu */
.sidenav {
  height: 100%;
  width: 13.750rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#titleDiv {
  background: linear-gradient(#FFB354, #EE7A3A);
  text-align: center;
  align-content: center;
  width: 13.75rem;
  height: 4.25rem;
}

#sidebarTitle {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.2rem;
}

#buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.sidenav a {
  text-decoration: none;
  color: #725C5C;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7rem;
  padding-left: 1.5em;
  padding-top: 0.43em;
  padding-bottom: 0.43em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.hiddenRetangle {
  background: linear-gradient(#FFB455, #ED7839);
  width: 0.31rem;
  height: 2.06rem;
  display: none;
}

.hoverOrganizer {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  box-sizing: border-box;
  width: 13.75rem;
  height: 2.06rem;
  margin-bottom: 0.125rem;
}

.hoverOrganizer:hover {
  background: #FDF1EB;
}

.hoverOrganizer:hover .hiddenRetangle {
  display: block;
}

/* Header */
header {
  position: absolute;
  background: #FDF1EB;
  width: 71.625rem;
  height: 4.25rem;
  left: 13.75em;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: none;
}

#headerTextDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 643px;
  height: 4.25rem;
  margin-left: 2.25rem;
}

#firstParagraph {
  color: #725C5C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.026rem;
  margin-top: 0.313em;
  margin-bottom: 0;
}

header h2 {
  color: #725C5C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.026rem;
  margin-top: 0.188em;
  margin-bottom: 0;
}

#secondParagraph {
  color: #725C5C;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.026rem;
  margin-top: 0.40em;
}

#languageSelect {
  background: #FDF1EB;
  width: 6.06rem;
  height: 2.125rem;
  margin-left: 6.875rem;
  margin-top: 1.063rem;
  border-radius: 3px;
  border-width: 1px;
  border-color: #CCCCCC;
}

#headerUserDiv {
  width: 10.731rem;
  height: 2.125rem;
  margin-left: 1.375rem;
  margin-top: 1.063rem;
}

#welcomeText {
  color: #333333;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.094rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5.688rem;
}

#emailText {
  color: #333333;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.938rem;
  margin-top: 0;
  margin-bottom: 0;
}

#pictureProfile {
  float: right;
  border-radius: 50%;
  margin-top: 1.168rem;
}

#notificationBadge {
  position: absolute;
  background: #F85959;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-top: 1.063rem;
  margin-left: 68.625rem;
}

#badgeText {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.733rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.188rem;
}