.work {
  padding: 1.5rem 2.5rem;
}

// Video section

.video-section {
  display: flex;
  margin-bottom: 2rem;
}

.title {
  max-width: 90%;
  color: #ed7839;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}

.video {
  position: relative;
  border-radius: 2px;
}

.video img {
  width: 97%;
}

.overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 97%;
  height: 99%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgba(141, 53, 6, 0.5);
}

.overlay .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(237, 120, 57, 1);
  border-radius: 50%;
}

.overlay-container {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}

.img img {
  padding: 0.2rem;
  border-radius: 50%;
}

.overlay h2,
.overlay h3,
.overlay h4 {
  color: #fff;
}

.overlay h2 {
  max-width: 90%;
}

.more-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  color: #fff;
  background-color: #ed7839;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.download-btn {
  padding: 6px 12px;
  display: flex;
  gap: 8px;
}

.save-btn {
  padding: 4px 12px;
}

.doi-btn {
  padding: 3px 10px;
}

.save-btn,
.doi-btn {
  display: flex;
  align-items: center;
}

.more-info h4 {
  margin: 0.8rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ed7839;
}

.details {
  border: 1px solid #ececec;
  border-radius: 3px;
}

.details h3 {
  color: #4e4e4e;
  background-color: #fdf1eb;
  border-bottom: 1px solid #ececec;
  padding: 1rem;
}

.container-details {
  margin: 1rem;
  font-size: 0.9rem;
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-weight: 300;

  border-right: 3px solid transparent;
  border-image: linear-gradient(#bfbfbf, #e7e7e7) 1;
  border-image-slice: 1;
}

.light-bold {
  font-weight: 400;
}

.container-details p {
  margin-bottom: 0.3rem;
}

.authors,
.universities {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.authors span {
  margin-bottom: 0.5rem;
}

.universities span {
  font-size: 0.8rem;
  color: #ada0a0;
  margin-bottom: 0.2rem;
}

// Summary and Discussion Section

.summary,
.discussions {
  border: 1.4px solid #ececec;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.summary h3,
.discussions .discussions-h3 {
  background-color: #fdf1eb;
  border-bottom: 1px solid #ececec;
  color: #4e4e4e;
}

.summary h3,
.summary p,
.discussions h3 {
  padding: 0.8rem;
}

.summary p,
.dots,
.show-more {
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
}

.btn-show-more {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  color: #ed7839;
  font-weight: 700;
  cursor: pointer;
}

.show {
  display: inline;
}

.hidden {
  display: none;
}

// Discussion Section
// Create Topic

.create-topic {
  width: 100%;
  padding: 1.5rem 2rem 0.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-topic h4,
.success-message h3 {
  color: #ed7839;
  margin-bottom: 2rem;
}

.create-topic .icons {
  display: flex;
  gap: 4rem;
  margin-bottom: 2rem;
}

.create-topic-p {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #595959;
  text-align: center;
  border-bottom: 1px solid rgba(231, 231, 231, 1);
  padding-bottom: 3.3rem;
}

.btn-create-topic {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 1rem;
  top: -1.2rem;

  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);

  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0 #0000003d;

  cursor: pointer;
}

.btn-create-new-topic {
  top: -2rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.4rem 3rem;
  gap: 0.4rem;

  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);

  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0 #0000003d;

  cursor: pointer;
}

// Creating Topic

.creating-topic {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.creating-topic p,
.creating-topic input,
.div-btn button {
  font-family: "Quicksand", sans-serif;
}

.creating-topic p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: #5c5c5c;
}

.div-form {
  display: flex;
  flex-direction: column;
  gap: 0.2px;
  margin-bottom: 0.5rem;
}

.div-form label {
  font-weight: 700;
  color: #ed7839;
}

.div-form input,
.div-form textarea {
  padding: 0.7rem 1.1rem;
  font-size: 0.9rem;
  border: 1.5px solid #cccccc;
  border-radius: 3px;
}

.div-btn {
  display: flex;
  justify-content: end;
  background-color: #eaf1f2;
  width: 100%;
  border: 1.3px solid #cccccc;
  border-top: none;
}

.div-btn button {
  width: 18%;
  padding: 0.3rem 1rem;
  text-align: center;

  font-size: 0.9rem;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
  border: none;
  cursor: pointer;
}

.line-bottom {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(231, 231, 231, 1);
}

// Success message

.success-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-message h3 {
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.success-message p {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #595959;
  text-align: center;
  margin-bottom: 2rem;
}

.success-message a {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(244, 143, 68, 1);
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(231, 231, 231, 1);
  padding-bottom: 3.3rem;
}

// Topic Submitted

.topics-submitted .topic {
  position: relative;
}

.topic {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0px 0px 8px 0px #0000001f;
}

.topic .ops-topic-subject,
.topic p {
  font-family: "Quicksand", sans-serif;
}

.topic p {
  margin-bottom: 1rem;
}

.topic .ops-topic-subject {
  font-size: 1rem;
  font-weight: 400;
  color: #ed7839;
}

.topic .author {
  font-size: 0.8rem;
  color: #5c5c5c;
  font-weight: 600;
}

.topic .phrase {
  font-weight: 400;
  color: #4d4d4d;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.525rem;

  background-color: rgba(231, 231, 231, 0.6);
  backdrop-filter: blur(2.5px);
  border-radius: 3px;
}

.message div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.message p {
  font-family: "Quicksand", sans-serif;
  color: #707070;
  font-weight: 600;
}

.message a {
  font-size: 0.8rem;
  color: #ed7839;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

// Topics Container
.topics,
.topics-submitted {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 0 1rem 1rem 1rem;
}

.topics p,
.topics span {
  font-family: "Quicksand", sans-serif;
}

.answered-topic {
  margin-bottom: 0;
}

.showCreateTopic {
  display: flex;
}

.hiddenCreateTopic {
  display: none;
}

// more-info Responsive

@media screen and (max-width: 1500px) {
  .container-details p {
    margin-bottom: 0.1rem;
  }

  .authors,
  .universities {
    padding: 0.5rem 0;
  }

  .more-info h4 {
    font-size: 0.7rem;
  }

  .details h3 {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .container-details p {
    font-size: 0.7rem;
  }

  .authors span {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
  }

  .universities span {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1200px) {
  .authors,
  .universities {
    padding: 0.2rem 0;
  }

  .more-info h4 {
    font-size: 0.5rem;
  }

  .details h3 {
    padding: 0.3rem;
    font-size: 0.5rem;
  }

  .container-details p {
    font-size: 0.5rem;
  }

  .authors span {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
  }

  .universities span {
    margin-bottom: 0.2rem;
    font-size: 0.4rem;
  }
}
