<div class="work">
     <section class="video-section">
          <div class="container">
               <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15
                    anos,
                    do
                    município de
                    Campinas/SP </h2>
               <div class="video">
                    <img src="../../../../assets/img/vd_player.png" alt="Imagem de Video">
               </div>
          </div>

          <aside class="more-info">
               <div class="actions">
                    <button class="download-btn"><img src="../../../../assets/icons/download.svg"
                              alt="Icone de Download"> Download</button>
                    <button class="save-btn"><img src="../../../../assets/icons/star.svg"
                              alt="Icone de favoritar"></button>
                    <button class="doi-btn"><img src="../../../../assets/icons/doi.svg" alt="Icone DOI"></button>
               </div>
               <h4>COMO CITAR ESSE TRABALHO?</h4>
               <section class="details">
                    <h3>Detalhes</h3>
                    <div class="container-details">
                         <p>Tipo de Apresentação: <span class="light-bold">Pôster</span></p>
                         <p>Eixo temático: <span class="light-bold">Alimentação e saúde (AS)</span></p>
                         <p>Palavras-chaves: <span class="light-bold">Alimentos funcionais, alimentação
                                   escolar.</span></p>
                         <div class="authors">
                              <span class="light-bold">Autores:</span>
                              <span>Galileo Galilei¹</span>
                              <span>Berta Lange de Morretes²</span>
                              <span>Isaac Newton³</span>
                              <span>Cesar Lattes¹</span>
                              <span>Stephen Hawking⁴</span>
                         </div>
                         <div class="universities">
                              <span>¹Universidade Estadual de Campinas</span>
                              <span>²Universidade de São Paulo</span>
                              <span>³Instituto Nacional de Pesquisas Espaciais</span>
                              <span>⁴Universidade Federal do Rio de Janeiro</span>
                         </div>
                    </div>
               </section>
          </aside>
     </section>

     <section class="summary">
          <h3>Resumo</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
               commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed
               magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus
               nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et
               non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros
               vestibulum.<span [ngClass]="{'show': !isExpanded, 'hidden': isExpanded }" class="dots">..</span> <span
                    [ngClass]="{'show': isExpanded, 'hidden': !isExpanded }" class="show-more">
                    <br>
                    <br>
                    Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat.
                    Proin
                    dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris
                    sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum
                    turpis.
                    Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem.
                    Aenean
                    interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in
                    laoreet odio.
                    <br>
                    <br>
                    Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec
                    eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu.
                    Phasellus
                    maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis
                    turpis.
                    Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis
                    consectetur
                    non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu
                    scelerisque
                    orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio
                    id
                    odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas
                    eu
                    maximus massa.
                    <br>
                    <br>
                    Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra
                    felis ut
                    hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus
                    luctus
                    dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum
                    sem.
                    Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus
                    placerat
                    vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               </span>
               <a (click)="showMore()" [ngClass]="{'show': !isExpanded, 'hidden': isExpanded }" class="btn-show-more">
                    ver mais</a>
          </p>
     </section>

     <section class="discussions">
          <h3>Discussões</h3>

          <section class="create-topic"
               [ngClass]="{'showCreateTopic': !creatingTopic ,'hiddenCreateTopic': creatingTopic}">
               <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>
               <div class="icons">
                    <img src="../../../../assets/icons/discussions_icon1.svg">
                    <img src="../../../../assets/icons/discussions_icon2.svg">
                    <img src="../../../../assets/icons/discussions_icon3.svg">
               </div>
               <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus <br>
                    questionamentos ou sugestões para o autor!</p>

               <button (click)="createTopic()" class="btn-create-topic"><img
                         src="../../../../assets/icons/icon_criar.svg" alt="Criar Topico Imagem"> criar tópico</button>
          </section>

          <section class="creating-topic" [ngClass]="{'show': creatingTopic, 'hiddenCreateTopic': !creatingTopic}">
               <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>

               <form>
                    <div class="div-form">
                         <label for="subject">Assunto</label>
                         <input type="text" placeholder="Defina um tópico sucinto para notificar os autores...">
                    </div>
                    <div class="div-form">
                         <label for="content">Conteúdo</label>
                         <textarea name="content" cols="5" rows="3"></textarea>
                         <div class="line-bottom">
                              <div class="div-btn">
                                   <button (click)="submitTopic($event)">Enviar</button>
                              </div>
                         </div>
                    </div>
               </form>
          </section>

          <section class="topics-submitted" [ngClass]="{'show': topicSubmitted, 'hiddenCreateTopic': !topicSubmitted}">
               <div class="card-message">
                    <div class="topic">
                         <h4 class="ops-topic-subject">Assunto da pergunta aparece aqui</h4>
                         <p class="author">Carlos Henrique Santos</p>
                         <p class="phrase">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
                              análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                              processo...</p>
                         <div class="message">
                              <img width="22px" src="../../../../assets/icons/submitted.svg">
                              <p>Aguardando feedback dos autores</p>
                              <a href="#">Editar tópico</a>
                         </div>
                    </div>
               </div>
          </section>

          <section class="topics">
               <app-card></app-card>
               <app-card class="answered-topic"
                    [topic]="{ subject: 'Assunto da pergunta aparece aqui', author: 'Carlos Henrique Santos', phrase: 'Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...', likes: 4, answers: 4 }">
               </app-card>
          </section>
     </section>
</div>