<div class="navbar-content shadow">
  <div class="bg-gradient p-3 d-flex justify-content-center align-items-center">
    <h2 class="m-0 p-0">SLACA 2019</h2>
  </div>
  <div id="logo">
    <img src="assets/images/logo.png" alt="SLACA 2019" class="img-fluid" />
  </div>
  <nav>
    <ul class="flex-column list-group mt-3 w-100">
      <li
        class="list-group-item p-0 m-0 position-relative"
        *ngFor="let link of links"
        [class.bg-primary]="link.active"
      >
        <div class="link-content">
          <div *ngIf="link.active" class="bar bg-gradient"></div>
          <div class="p-2">
            <div class="ms-4">
              <small>{{ link.label }}</small>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
