$link-color: #fdf1eb;
h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.navbar-content {
  height: 100vh;
}

li {
  margin-left: 10px;

  &.list-group-item {
    border-top: none;
    border-right: none;
    border-radius: 0;
  }

  .bar {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
  }

  .link-content {
    display: flex;
    align-items: center;
  }
}
