<div class="container">
  <h1 class="cardTitle">Assunto da pergunta aparece aqui</h1>
  <p class="cardName">Carlos Henrique Santos</p>
  <p class="cardContent">
    Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
    análise da dimensão e impacto de processo formativo situado impacto de
    processo formativo processo...
  </p>
  <div class="footerCard">
    <svg
      (click)="toggleInfo()"
      class="openInfo"
      width="5"
      height="18"
      viewBox="0 0 5 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <ellipse cx="2.02435" cy="16" rx="2.00195" ry="2" fill="#ED7839" />
      <ellipse cx="2.02435" cy="9" rx="2.00195" ry="2" fill="#ED7839" />
      <ellipse cx="2.02435" cy="2" rx="2.00195" ry="2" fill="#ED7839" />
    </svg>
    <svg
      width="32"
      height="25"
      viewBox="0 0 32 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_dd_316_609)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.04083 2C2.93626 2 2.04083 2.89543 2.04083 4V19C2.04083 20.1046 2.93626 21 4.04083 21H27.0671C28.1717 21 29.0671 20.1046 29.0671 19V4C29.0671 2.89543 28.1717 2 27.0671 2H4.04083Z"
          fill="#ED7839"
        />
      </g>
      <path
        d="M15.0466 17.4414L14.1989 16.6758C13.2328 15.8008 12.5309 15.1536 12.0934 14.7344C11.6559 14.3151 11.1638 13.7956 10.6169 13.1758C10.0882 12.556 9.72365 12 9.52313 11.5078C9.32261 10.9974 9.22235 10.4779 9.22235 9.94922C9.22235 9.05599 9.52313 8.29948 10.1247 7.67969C10.7445 7.0599 11.5101 6.75 12.4216 6.75C13.4789 6.75 14.3539 7.16016 15.0466 7.98047C15.7393 7.16016 16.6143 6.75 17.6716 6.75C18.583 6.75 19.3395 7.0599 19.9411 7.67969C20.5609 8.29948 20.8708 9.05599 20.8708 9.94922C20.8708 10.6602 20.6338 11.3984 20.1599 12.1641C19.6859 12.9297 19.1664 13.5951 18.6013 14.1602C18.0544 14.7253 17.152 15.5729 15.8942 16.7031L15.0466 17.4414Z"
        fill="white"
      />
      <defs>
        <filter
          id="filter0_dd_316_609"
          x="0.0408325"
          y="0"
          width="31.0263"
          height="25"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset dy="2" />
          <feGaussianBlur stdDeviation="1" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_316_609"
          />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0"
          />
          <feBlend
            mode="normal"
            in2="effect1_dropShadow_316_609"
            result="effect2_dropShadow_316_609"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect2_dropShadow_316_609"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
    <p>{{likes}}</p>
    <p>{{response}}</p>
  </div>
</div>
