.card {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0px 0px 8px 0px #0000001f;
}

.ops-topic-subject,
p {
  font-family: "Quicksand", sans-serif;
}

p {
  margin-bottom: 0.6rem;
}

.ops-topic-subject {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ed7839;
}

.author {
  font-size: 0.8rem;
  color: #5c5c5c;
  font-weight: 600;
}

.phrase {
  font-weight: 400;
  color: #4d4d4d;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  color: #757575;
}

// Comments
.comment-section {
  box-shadow: 0px 1px 8px 0px #0000001f;
}

.comment-section .comments-container {
  border: 1px solid #e7e7e7;
}

.comment-section div:first-child {
  border-top: none;
}

.comment {
  padding: 1rem;
}

.comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #5c5c5c;
  font-size: 0.8rem;
  font-weight: 700;
}

.author-comment {
  display: flex;
  gap: 2rem;

  font-size: 0.9rem;
  font-weight: 800;
  color: #ed7839;
  margin-right: 1rem;
}

.comment p:nth-child(2) {
  width: 96%;
  color: #4d4d4d;
  font-size: 1rem;
}

.comment-bg {
  background-color: #f8f8f8;
}
