<div class="card" (click)="showComments()">
     <div class="topic">
          <h4 class="ops-topic-subject">{{topic.subject}}</h4>
          <p class="author">{{topic.author}}</p>
          <p class="phrase">{{topic.phrase}}</p>
          <div class="info">
               <img src="../../../assets/icons/more_info.svg" alt="Icone Mais Informações">
               <img src="../../../assets/icons/favorite.svg" alt="Icone Favoritar">
               <span>{{topic.likes}} like<span *ngIf="topic.likes > 1">s</span></span>
               <span>{{topic.answers}} resposta<span *ngIf="topic.answers > 1">s</span></span>
          </div>
     </div>
</div>

<section class="comment-section" *ngIf="topic.answers > 1" [ngClass]="{'show': isExpanded, 'hidden': !isExpanded }">
     <div class="comments-container" *ngFor="let comment of comments"
          [ngClass]="{'show': !commentsOn, 'hidden': commentsOn, 'comment-bg': comment.isAuthor || comment.isCoAuthor}">
          <div class="comment">
               <div class="comment-info">
                    <p>{{comment.name}}</p>
                    <span class="author-comment" *ngIf="comment.isAuthor">Autor <img
                              src="../../../../assets/icons/author.svg" alt="Icone Autor"></span>
                    <span class="author-comment" *ngIf="comment.isCoAuthor">Coautor <img
                              src="../../../../assets/icons/author.svg" alt="Icone Coautor"></span>
               </div>
               <p [innerHTML]="comment.comment">
               </p>
          </div>
     </div>
</section>