<div class="card">
  <div class="card-header">
    <h4 class="ops-topic-subjec">Assunto da pergunta aparece aqui</h4>
    <span>Carlos Henrique Santos</span>
  </div>
  <div class="card-body">
    <p>
      Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
      análise da dimensão e impacto de processo formativo situado impacto de
      processo formativo processo...
    </p>
  </div>
  <div class="card-footer">
    <img src="assets/more.svg" alt="" />
    <img src="assets/like.svg" alt="" />
    <span>1 like</span>
    <span>1 resposta</span>
  </div>
</div>
