<aside>
  <div class="btn-group">
    <button>
      <img src="assets/download-icon.svg" alt="" />
      <span>Download</span>
    </button>
    <button>
      <img src="assets/fav-icon.svg" alt="" />
    </button>
    <button>
      <img src="assets/doi.svg" alt="" />
    </button>
  </div>
  <a href="#">COMO CITAR ESSE TRABALHO?</a>
  <div class="card">
    <div class="card-header">
      <p>Detalhes</p>
    </div>
    <div class="card-body">
      <p>Tipo de Apresentação: <span>Pôster</span></p>
      <p>Eixo temático: <span>Alimentação e saúde (AS)</span></p>
      <p>
        Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span>
      </p>

      <div class="authors">
        <p>Autores:</p>
        <p>Galileo Galilei¹</p>
        <p>Berta Lange de Morretes²</p>
        <p>Isaac Newton³</p>
        <p>Cesar Lattes¹</p>
        <p>Stephen Hawking⁴</p>
      </div>

      <div class="reference">
        <p>¹Universidade Estadual de Campinas</p>
        <p>²Universidade de São Paulo</p>
        <p>³Instituto Nacional de Pesquisas Espaciais</p>
        <p>⁴Universidade Federal do Rio de Janeiro</p>
      </div>
    </div>
  </div>
</aside>
