.content-header{
  background-color: #FDF1EB;
  color: #4E4E4E;
  border: 1px solid #ECECEC;
  padding-left: 10px;
  font-family: 'Roboto';
  font-size: x-large;
  font-weight: 500;
}
.content-box{
  border: 1px solid #ECECEC;
  font-family: 'Quicksand';
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: left;
}
.content-box-text{
  color: #5C5C5C;
  padding: 10px;
  font-size: large;
}
.content-box-text p {
  overflow: hidden; /* Oculta o texto que ultrapassa a largura */
  text-overflow: ellipsis; /* Adiciona os três pontos no final do texto oculto */
  transition: max-height 0.3s ease;
}
.btn-show-more{
  align-self: flex-end;
  text-decoration: none;
  color: #EF8952;
  font-weight: 700;
  cursor: pointer;
}
