<div class="container-topic">
    <div class="container-title-topic">
        <h3>Assunto da pergunta aparece aqui</h3>
        <h4>Carlos Henrique Santos</h4>
    </div>
    <div>
        <p>
            Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo processo...
        </p>
    </div>
    <div class="container-interact-topic">
        <a href="#">
            <img src="../../../assets/more-information.svg" alt="Símbolo para ver mais informações sobre o tópico">
        </a>
        <div>
            <img src="../../../assets/heart.svg" alt="">
        </div>
        <span>1 like</span>
        <span>1 resposta</span>
    </div>
</div>