.container-topic {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    width: 100%;
    border: 1px solid #E7E7E7;
}

.answered-topic,
.comment {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    padding: 1.125rem 1.5rem;

    width: 100%;

    border-bottom: 1px solid #E7E7E7;
}

.answered-topic:hover {
    background-color: #0000000e;
}

.container-title-topic .ops-topic-subject {
    font-family: "Quicksand";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: left;
    color: #ED7839;
}

.container-title-topic h4,
.container-title-comment h4 {
    font-family: "Quicksand";
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    text-align: left;
    color: #5C5C5C;
}

.answered-topic p,
.comment p {
    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.1rem;
    text-align: left;

    color: #4D4D4D;
}

.container-interact-topic {
    display: flex;
    gap: 1rem;
}

.container-interact-topic>a img {
    height: 1.125rem;
}

.container-interact-topic>a img:hover {
    cursor: pointer;
}

.container-interact-topic>a:hover {
    transform: scale(1.1);
}

.container-interact-topic>a:active {
    transform: scale(1);
}

.container-interact-topic div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.2rem 0.5rem;
    border-radius: 3px;

    background: #ED7839;
    box-shadow: 0px 2px 2px 0px #0000003D;
}

.container-interact-topic>div img {
    width: 0.875rem;
}

.container-interact-topic div:hover {
    cursor: pointer;
    background-color: #da6f36;
}

.container-interact-topic div:active {
    background-color: #c26330;
}

.container-interact-topic span {
    font-family: "Quicksand"; // Não é utilizado o Segoe UI por não haver disponibilidade de uso

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;

    color: #757575;
}


.container-title-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-title-comment div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.container-title-comment div span {
    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;

    color: #ED7839;
}

.container-title-comment div img {
    height: 1.3rem;
}