<div class="container-topic">
    <div class="answered-topic" (click)="handleShowAllTopic($event)">
        <div class="container-title-topic">
            <h3 class="ops-topic-subject">Assunto da pergunta aparece aqui</h3>
            <h4>Carlos Henrique Santos</h4>
        </div>
        <div>
            <p *ngIf="!showAllTopic">
                Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
                de
                processo formativo situado impacto de processo formativo processo...
            </p>
            <p *ngIf="showAllTopic">
                Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
                de
                processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da
                análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo?
            </p>
        </div>
        <div class="container-interact-topic">
            <a (click)="handleShowAllTopic($event)">
                <img src="../../../assets/more-information.svg" alt="Símbolo para ver mais informações sobre o tópico">
            </a>
            <div>
                <img src="../../../assets/heart.svg" alt="">
            </div>
            <span>4 like</span>
            <span>4 resposta</span>
        </div>
    </div>
    <div class="comments-container" *ngIf="showAllTopic">
        <div class="comment">
            <div class="container-title-comment">
                <h4>Adriano da Silva</h4>
                <div>
                    <span>
                        Autor
                    </span>
                    <img src="../../../assets/double-check.svg" alt="Símbolo de dupla checagem">
                </div>
            </div>
            <p>
                Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo
                formativo
                situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da
                dimensão e
                impacto de processo formativo situado impacto de processo formativo processo.
            </p>
        </div>
        <div class="comment">
            <div class="container-title-comment">
                <h4>Carlos Henrique Santos</h4>
            </div>
            <p>
                Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo.
            </p>
            <p>
                Obrigada pela resposta, muito interessante o seu trabalho!
            </p>
        </div>
        <div class="comment">
            <div class="container-title-comment">
                <h4>Carmila Ferreira Andrade</h4>
                <div>
                    <span>
                        Coautor
                    </span>
                    <img src="../../../assets/double-check.svg" alt="Símbolo de dupla checagem">
                </div>
            </div>
            <p>
                Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de
                processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da
                análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
            </p>
            <p>
                Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da
                dimensão e impacto de processo formativo situado impacto de processo formativo processo.
            </p>
        </div>
        <div class="comment">
            <div class="container-title-comment">
                <h4>Ana Carolina</h4>
                <div>
                    <span>
                        Coautor
                    </span>
                    <img src="../../../assets/double-check.svg" alt="Símbolo de dupla checagem">
                </div>
            </div>
            <p>
                Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise
                da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
            </p>
        </div>
    </div>
</div>