<ul class="topics">
  <ng-container *ngIf="topics.length > 0; else empty">
    <app-topic-card
      *ngFor="let topic of topics"
      [topic]="topic"
      (editTopicClicked)="
        editTopic({
          id: topic.id,
          subject: topic.subject,
          content: topic.content
        })
      "
      class="topic"
    ></app-topic-card>
  </ng-container>
  <ng-template #empty>
    <li class="topic topic__empty">
      <h2>Ainda não há tópicos aqui!</h2>
    </li>
  </ng-template>
</ul>
