<div class="container-fluid">
  <div class="border">
    <div class="bg-primary border-bottom p-2">
      <h2 class="m-0">Resumo</h2>
    </div>
    <div class="summary p-2">
      <div *ngIf="!showFullSummary">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus
          sodales mauris, imperdiet aliquam dui ultrices et. Cras at odio arcu.
          Aenean eu nulla eu dolor volutpat ultrices vitae vel turpis. Cras in
          posuere quam. Suspendisse malesuada est sed quam mattis porta. Nullam
          auctor mi et diam tempor aliquet. Quisque luctus ante eu mauris
          mollis, a tempus nunc vulputate. Sed mi felis, vulputate tristique
          tortor nec, ullamcorper hendrerit sem. Pellentesque elementum
          ullamcorper urna, nec mollis nisi sollicitudin ac...
          <button
            class="ms-2 btn btn-show-more text-tertiary fw-bold p-0"
            (click)="toggleSummary()"
          >
            ver mais
          </button>
        </p>
      </div>
      <div *ngIf="showFullSummary">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus
          sodales mauris, imperdiet aliquam dui ultrices et. Cras at odio arcu.
          Aenean eu nulla eu dolor volutpat ultrices vitae vel turpis. Cras in
          posuere quam. Suspendisse malesuada est sed quam mattis porta. Nullam
          auctor mi et diam tempor aliquet. Quisque luctus ante eu mauris
          mollis, a tempus nunc vulputate. Sed mi felis, vulputate tristique
          tortor nec, ullamcorper hendrerit sem. Pellentesque elementum
          ullamcorper urna, nec mollis nisi sollicitudin ac.
        </p>
        <p>
          Phasellus vestibulum molestie viverra. Nam interdum nunc ipsum, eget
          vehicula lectus dignissim pharetra. Aenean sed iaculis dui. Praesent
          ultricies faucibus eros nec interdum. Vivamus vel mi volutpat, finibus
          tortor vel, varius dui. Quisque ac justo accumsan, imperdiet nulla id,
          venenatis felis. Pellentesque hendrerit sapien quis libero fermentum
          dictum. Integer malesuada justo ut felis mattis eleifend. Integer id
          ex non erat dictum pulvinar. Orci varius natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Sed efficitur rhoncus
          quam, at varius leo aliquet vel. Pellentesque nec est eu diam
          facilisis malesuada ac vel nunc. Nulla lorem tortor, consequat a enim
          cursus, aliquet sollicitudin erat. Aenean in cursus neque, eu ornare
          sapien. Aenean efficitur maximus magna, eu mollis urna accumsan
          mattis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia
          semper nunc, et laoreet urna tincidunt in. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Fusce ac neque vulputate, faucibus odio non, feugiat
          lectus. Nullam nibh orci, mollis eu nisl et, bibendum maximus turpis.
          Proin placerat velit at ultrices finibus. Fusce volutpat nisi vitae
          ipsum pulvinar elementum. Integer vel magna ullamcorper, suscipit
          turpis at, vehicula nulla. Nam pharetra tincidunt tellus, ut aliquam
          nunc fermentum in. Sed laoreet neque sit amet dolor cursus hendrerit.
          Vivamus suscipit fermentum tellus ac mattis. Donec eget massa et
          ligula ultricies fermentum ut sit amet quam. Suspendisse non posuere
          nunc.
        </p>
        <p class="mb-3">
          Nunc et enim accumsan, placerat mauris nec, ultricies mauris.
          Suspendisse sagittis enim sed est convallis, ut imperdiet mauris
          placerat. Nam sit amet semper sapien. Praesent faucibus, felis nec
          congue porta, elit sapien facilisis est, in lacinia neque nisl ac
          nisl. Quisque et accumsan tortor. Fusce pulvinar elit quis magna
          efficitur elementum. Cras pellentesque quam odio, sit amet ultricies
          dui fringilla a. Pellentesque maximus leo et tincidunt finibus.
          Praesent at ultricies turpis. Vestibulum malesuada, nisi in volutpat
          vestibulum, ante nulla euismod orci, ac elementum urna lectus
          porttitor orci. Mauris congue mi et nisl bibendum tristique. Proin
          quis rhoncus enim, a dignissim arcu. Nunc nec faucibus dolor, posuere
          tincidunt purus. Proin elementum turpis quis ex venenatis convallis.
          Nulla facilisi. Proin viverra consectetur felis.
        </p>
        <button
          class="btn btn-show-more text-tertiary fw-bold p-0"
          (click)="toggleSummary()"
        >
          ver menos
        </button>
      </div>
    </div>
  </div>
</div>
