<div class="footer">
     <div class="border-top"></div>
     <div class="container">
          <div class="img">
               <img src="../../../assets/img/galoa-logo.svg" alt="Logo Galoá">
               <a
                    href="https://www.figma.com/file/0D27YdXU8ibf0AhsBC2OEm/Chuva---Exerc%C3%ADcio-ts?type=design&node-id=0-1&mode=design&t=YjAwGeddxh4apslp-0">Saiba
                    mais</a>
          </div>
          <div class="footer-info">
               <p><strong>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</strong> gerado em
                    eventos é a
                    razão de
                    ser da plataforma Galoá Proceedings.
               </p>
               <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade científica,
                    mantendo aceso o debate científico fomentado pelos encontros e aumentando o impacto do evento.
               </p>
          </div>
     </div>
</div>