<footer class="footer">
  <div class="footer--content">
    <img
      class="footer--img"
      src="/assets/images/footer-img.png"
      alt="Galoá - Anais e Proceedings"
    />
    <p class="footer--text">
      <strong
        >Preservar a memória do evento e ampliar o acesso ao conhecimento
        científico
      </strong>
      gerado em eventos é a razão de ser da plataforma Galoá Proceedings.
    </p>
    <p class="footer--text">
      Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para
      toda a comunidade científica, mantendo aceso o debate científico fomentado
      pelos encontros e aumento o impacto do evento.
    </p>
  </div>
</footer>
