<footer class="footer">
    <figure>
        <img class="logo-galoa" src="/assets/img/logo-galoa.svg" alt="Galoa Logo">
        <a href="https://galoa.com.br" target="_blank">
            <button class="footer-button" matTooltip="Ir para https://galoa.com.br"
                aria-label="Button that displays a tooltip when focused or hovered over">Saiba mais</button>
        </a>
    </figure>

    <section class="footer-container-text">
        <p class="footer-text"><strong>Preservar a memória do evento e ampliar o acesso ao científico</strong> gerador
            em eventos é a razão
            de ser da plataforma Galoá Proceedings.</p>

        <p class="footer-text">Os trabalhos publicados aqui tem maior alcance e ficam disponíveis para toda a comunidade
            científica,
            mantendo acesso o debate cientifico fomentado pelos encontros e aumentando o impacto do evento</p>
    </section>
</footer>