$primary-color: #fff;
$primary-color-foreground: #ffb354;

$secondary-color: #ee7a3a;
$secondary-color-foreground: #725c5c;

$tertiary-color: #fdf1eb;
$tertiary-color-foreground: #ed7839;

$accent: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);

$font-family: "Quicksand", sans-serif;
$font-family-foreground: "Roboto", sans-serif;
