<div class="container-hero">
    <div class="hero">
        <h2>
            Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
            Campinas/SP
        </h2>
        <img src="../../../assets/vídeo-overlay.png" alt="">
    </div>
    <div class="hero-info">
        <div class="container-hero-options">
            <div class="container-hero-buttons">
                <button>
                    <img src="../../../assets/download.svg" alt="Ícone para download do trabalho">
                    Download
                </button>
                <button>
                    <img src="../../../assets/star.svg" alt="Ícone para favoritar o trabalho">
                </button>
                <button>
                    <img src="../../../assets/doi.svg" alt="Ícone para acesso ao DOI do trabalho">
                </button>
            </div>
            <span>COMO CITAR ESSE TRABALHO?</span>
        </div>
        <aside class="container-detail-info">
            <div class="title-detail-info">
                Detalhes
            </div>

            <div class="info-details">
                <div class="container-filters">
                    <span>Tipo de Apresentação: </span> <b> Pôster</b> <br />
                    <span>Eixo temático: </span> <b>Alimentação e saúde (AS)</b> <br />
                    <span>Tipo de Apresentação: </span> <b> Alimentos funcionais, alimentação escolar.</b> <br />
                </div>

                <div class="container-authors">
                    <b>
                        Autores:
                    </b>
                    <span>Galileo Galilei¹</span>
                    <span>Berta Lange de Morretes²</span>
                    <span>Isaac Newton³</span>
                    <span>Cesar Lattes¹</span>
                    <span>Stephen Hawking⁴</span>
                    <br />
                </div>


                <div class="container-colleges">
                    <span>¹Universidade Estadual de Campinas</span>
                    <span>²Universidade de São Paulo</span>
                    <span>³Instituto Nacional de Pesquisas Espaciais</span>
                    <span>⁴Universidade Federal do Rio de Janeiro</span>
                    <br />
                </div>

                <!-- 
                    Adicionados apenas para utilização do scroll do figma
                -->
                <br />
                <div class="container-colleges">
                    <span>¹Universidade Estadual de Campinas</span>
                    <span>²Universidade de São Paulo</span>
                    <span>³Instituto Nacional de Pesquisas Espaciais</span>
                    <span>⁴Universidade Federal do Rio de Janeiro</span>
                    <br />
                </div>
                <br />
                <div class="container-colleges">
                    <span>¹Universidade Estadual de Campinas</span>
                    <span>²Universidade de São Paulo</span>
                    <span>³Instituto Nacional de Pesquisas Espaciais</span>
                    <span>⁴Universidade Federal do Rio de Janeiro</span>
                    <br />
                </div>
            </div>

        </aside>
        <div></div>
    </div>
</div>