<section class="hero">
    <div class="container-hero-analisis">
        <h2 class="subtitle-analisis">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09
            e 15 anos, do município de
            Campinas/SP</h2>

        <figure>
            <img src="/assets/img/video.svg" alt="Video">
        </figure>

    </div>

    <div class="container-hero-details">
        <div class="hero-box-buttons">
            <button class="hero-details-btn">
                <mat-icon aria-label="Example home icon" class="icon">
                    download
                </mat-icon>
                Download</button>
            <button class="hero-details-btn">
                <mat-icon aria-label="Example home icon" class="icon">
                    grade
                </mat-icon>
            </button>
            <button class="hero-details-btn">
                <img src="/assets/img/doi.svg" alt="doi">
            </button>
        </div>

        <h3 class="hero-details-subtitle">COMO CITAR ESSE TRABALHO?</h3>

        <mat-card class="hero-card-details">
            <mat-card-header class="hero-card-details-header">
                <mat-card-title class="hero-card-title">Detalhes</mat-card-title>
            </mat-card-header>

            <mat-card-content class="hero-card-details-content">
                <div>
                    <p class="hero-card-detail-item">Tipo de apresentação: <strong>Pôster</strong></p>
                    <p class="hero-card-detail-item">Eixo temático: <strong>Alimentação e saúde (AS)</strong></p>
                    <p class="hero-card-detail-item">Palavras-chaves: <strong>Alimentos funcionais, alimentação
                            escolar.</strong></p>
                </div>

                <div>
                    <h4 class="hero-card-author-title">Autores:</h4>
                    <p class="hero-card-author">Galileo Galilei¹</p>
                    <p class="hero-card-author">Berta Lange de Morretes²</p>
                    <p class="hero-card-author">Isaac Newton³</p>
                    <p class="hero-card-author">Cesar Lattes¹</p>
                    <p class="hero-card-author">Stephen Hawking⁴</p>
                </div>

                <div>
                    <p class="hero-card-university">¹Universidade Estadual de Campinas</p>
                    <p class="hero-card-university">²Universidade de São Paulo</p>
                    <p class="hero-card-university">³Instituto Nacional de Pesquisas Espaciais</p>
                    <p class="hero-card-university">⁴Universidade Federal do Rio de Janeiro</p>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</section>