.container-topics {
    border-radius: 3px;
    border: 1px solid #ECECEC
}

.container-topics h1 {
    display: block;
    width: 100%;
    padding: 1rem;

    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.563rem;

    background: #FDF1EB;
    border: 1px solid #ECECEC
}

.container-topics p {
    padding: 1rem;

    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
}

.container-topics a {
    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.02em;

    color: #ed7839;
}

.container-create-topic {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.container-create-topic>h3 {
    font-family: "Roboto";
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.32;
    color: #ED7839;

    margin-bottom: 1.7rem;
}

.container-icons-create-topic {
    display: flex;
    gap: 3.2rem;

    margin-bottom: 2.2rem;
}

.container-create-topic>span {
    width: 39rem;

    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: center;

    margin-bottom: 0.875rem;
}

.container-button-create-topic {
    width: 100%;
}

.container-button-create-topic>div {
    position: relative;
    z-index: -1;
    top: 1.125rem;
    height: 1px;
    width: 100%;
    background-color: #E7E7E7;
}

.btn-create-topic {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    border-radius: 5px;

    margin: 0 auto;
    padding: 0.5rem 0.875rem;

    font-family: "Quicksand";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;

    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px #0000003D;
}

.btn-create-topic:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #e7a24c 0%, #d36b2a 100%);

}

.btn-create-topic:active {
    background: linear-gradient(180deg, #cf9043 0%, #8d481e 100%);
}

.container-topics form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    padding: 1rem;
}

.container-topics form h4 {
    margin: 0 auto;

    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;

    color: #5C5C5C;
}

.container-topics form label {
    display: flex;
    flex-direction: column;

    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.172rem;

    color: #ED7839;
}

.container-topics form label input,
.container-topics form label textarea {
    padding: 0.625rem 1.438rem;
    margin-top: 0.2rem;

    border: 1px solid #CCCCCC;
    border-radius: 3px;

    font-family: "Quicksand";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.1rem;
}

#topic-subject {
    height: 2.438rem;
}

#topic-content {
    height: 5.125rem;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    resize: none;
}

.container-topics form label input:focus,
.container-topics form label textarea:focus {
    outline: 1px solid #919191;
}

.container-button-submit-topic {
    display: flex;
    justify-content: flex-end;

    height: 2rem;

    border: 1px solid #CCCCCC;
    border-radius: 0 0 3px 3px;

    background: #EAF1F2;
}

.container-button-submit-topic button {
    all: unset;

    padding: 0.5rem 4.125rem;
    border-radius: 0 0 3px 0;

    font-family: "Quicksand";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    color: #fff;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
}

.container-button-submit-topic button:hover {
    background: linear-gradient(180deg, #e9a34d 0%, #d47236 100%);
    cursor: pointer;
}

.container-button-submit-topic button:active {
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
}

.container-feedback-message {
    max-height: 10rem;
}

.feedback-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: relative;
    z-index: 900;
    bottom: 10rem;
    left: 0;
    height: 10rem;

    backdrop-filter: blur(0.3125rem);
}

.feedback-message img {
    height: 1.875rem;
}

.feedback-message h3 {
    font-family: "Quicksand";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;

    color: #707070;
}

.feedback-message a {
    text-decoration: underline;
}

.feedback-message a:hover {
    color: #d36b2a;
}