<section class="container-topics">
    <h1>
        Discussões
    </h1>
    <div class="container-create-topic">
        <h3>
            Compartilhe suas ideias ou dúvidas com os autores!
        </h3>
        <div class="container-icons-create-topic">
            <img src="../../../assets/hand.svg" alt="Símbolo de ecologicamente correto">
            <img src="../../../assets/question.svg" alt="Símbolo de perguntas e respostas">
            <img src="../../../assets/talk.svg" alt="Símbolo de conversas com soluções">
        </div>
        <span>
            Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
            questionamentos
            ou sugestões para o autor!
        </span>
        <div class="container-button-create-topic">
            <div> </div>
            <button type="button" class="btn-create-topic">
                <img src="../../../assets/plus.svg" alt="Sinal de mais">
                criar tópico
            </button>
        </div>
    </div>
</section>