<div class="box-dicussions-new-topic">
    <h3 class="new-topic-title">Compartilhe suas ideias ou dúvidas com os autores</h3>

    <figure class="new-topic-image">
        <img src="/assets/img/icon1.svg" alt="icone 1">
        <img src="/assets/img/icon2.svg" alt="icone 2">
        <img src="/assets/img/icon3.svg" alt="icone 3">
    </figure>

    <p class="discussions-item">Sabia que o maior estímulo no desenvolvimento científico e cultural é a
        curiosidade? Deixe seus
        questionamentos ou
        sugestões para o autor!</p>

    <button mat-button class="btn-create-topic" (click)="onNewTopicClick()">
        <mat-icon aria-label="Example home icon" class="icon">
            add
        </mat-icon>

        criar tópico
    </button>
</div>