<div class="block p-4 text-center">
    <div *ngIf="!showResponse">
        <h3 class="text-orange-500 text-xl font-semibold">Compartilhe aqui suas ideias ou dúvidas com os autores!</h3>
        <app-icons-component></app-icons-component>
        <p class="text-center">Sabia que o maior estímulo no desenvolvimento cientifico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
    </div>
    <button class="mt-5 btn-create-topic" (click)="showResponseForm()" *ngIf="!showResponse">
        <app-topic-button-component></app-topic-button-component>
    </button>
    <app-topic-form-component *ngIf="showResponse"></app-topic-form-component>
    <app-subject-section-component ></app-subject-section-component>
</div>
