<div class="menu">
    <div class="menu__title">
        <h1>SLACA 2019</h1>
    </div>
    <div class="menu__logo">
        <img src="../../assets/dewey 4.png" alt="logo">
    </div>
    <div class="menu__list">
        <ul>
            <dt><span></span> <p>Apresentação</p></dt>
            <dt><span></span> <p>Comitês</p></dt>
            <dt><span></span> <p>Autores</p></dt>
            <dt><span></span> <p>Eixos temáticos</p></dt>
            <dt class="menu__list__trabalho"><span></span><p>Trabalhos</p></dt>
            <dt><span></span> <p>Contato</p></dt> 
            
        </ul>
    </div>
</div>

