.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 13.75rem;
  box-shadow: 0px 0px 10px 0px #00000040;

  .menu-title {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFFFFF;
    width: 100%;
    height: 4.25rem;
    text-align: center;
    line-height: 4.25rem;
  }

  .menu-links {
    width: 100%;
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      li {
        width: 100%;
        height: 2.5rem;
        border-bottom: 1px solid #000000;

        .link-selected {
            background: #FDF1EB;

            .link-selected__detail {
              background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
              width: 5px;
              height: 100%;
            }
          }

        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 100%;

          p {
            padding: 0 1.5rem;
            font-size: 15px;
            font-weight: 500;
            line-height: 18.75px;
            text-align: left;
            font-family: Quicksand, sans-serif;
          }
        }
      }
    }
  }
}
