
<div class="titulo_e_citacao">

    <div>
    <h2 class="titulo">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
    </div>

    <div class="citacao">
        <ul class="botoes">
            <button class="bt_download">
                <img src="./assets/download.png" alt="">
                <span class="texto_download">Download</span>
            </button>
            <button class="outros_botoes">
                <img src="./assets/star.png" alt="">
            </button>
            <button class="outros_botoes">
                <img src="./assets/doi.png" alt="">
            </button>
        </ul>
        <span class="texto_citacao" >
            COMO CITAR ESSE TRABALHO?
        </span>
    </div>

</div>

<div class="video_e_detalhes">

    <div class="video">
         <img src="assets/videoplay.png">
         <img class="imagem_overlay" src="assets/video_overlay.png">

         <div class="video_texto_e_imagem">
            <h3 class="titulo_video">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h3>

            <img class="circulo" src="assets/round.png" alt="não está aparecendo">

            <span class="nome_circulo">Beatriz Christiane Melo</span>
            <span class="univ_circulo">FCA / Universidade Estadual de Campinas</span>
         </div>

    </div>
    
    <div class="detalhes_do_trabalho">

            <div class="detalhes">
                <h1>Detalhes</h1>
            </div>

            <div class="detalhes_textos">
                <span class="detalhes_primeiro_texto">
                    Tipo de Apresentação: <strong>Pôster</strong><br>
                    Eixo temático: <strong>Alimentação e saúde (AS)</strong><br>
                    Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong><br>
                </span>

                <span class="detalhes_segundo_texto">
                    <strong>Autores:</strong><br>
                    Galileo Galilei¹<br>
                    Berta Lange de Morretes²<br>
                    Isaac Newton³<br>
                    Cesar Lattes¹<br>
                    Stephen Hawking⁴<br>
                </span>

                <span class="detalhes_terceiro_texto">
                    <strong>¹</strong>Estadual de Campinas<br>
                    <strong>²</strong>Universidade de São Paulo<br>
                    <strong>³</strong>Instituto Nacional de Pesquisas Espaciais<br>
                    <strong>⁴</strong>Universidade Federal do Rio de Janeiro<br>
                </span>
            
            </div>

    </div>

</div>



<div class="resumo"> 
    <div class="resumo_titulo">
        <span>Resumo</span>
    </div>
    <div class="resumo_introducao">
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant... 
            <a href="#resumo_completo">ver mais</a>
        </span>
    </div>
    <!-- <div id="resumo_completo"> -->
        <!-- <span>  
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.

<br>Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.

<br>Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.

<br>Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </span>
    
    </div> -->
</div>


<div class="discussoes"> 

    <div class="card_discussoes">
        <span class="titulo_dicussoes">Discussões</span>
    </div>

    <div class="compartilhe_ideias">
        <span class="compartilhe_ideias_titulo">Compartilhe suas ideias ou dúvidas com os autores!</span>
        <div class="compartilhe_ideias_imagens">
            <img src="./assets/icone1.png" alt="">
            <img src="./assets/icone2.png" alt="">
            <img src="./assets/icone3.png" alt="">
        </div>
        <div class="compartilhe_ideias_frase">
            <span class="compartilhe_ideias_frase_titulo">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus<br> questionamentos ou sugestões para o autor!</span>
        </div>
        <button type="button" class="criar_topico" (click)="teste()">+ criar tópico</button>
        <div class="traco"></div>
    </div>

    <div class="card_assuntos">
        <span class="card_assuntos_titulo">Assunto da pergunta aparece aqui</span>
        <span class="card_assuntos_nome">Carlos Henrique Santos</span>
        <span class="card_assuntos_comentario">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</span>
        <div class="icone_comentario" >
            <img src="./assets/card_footer.svg">
        </div>
    </div>
    <div class="card_assuntos">
        <span class="card_assuntos_titulo">Assunto da pergunta aparece aqui</span>
        <span class="card_assuntos_nome">Carlos Henrique Santos</span>
        <span class="card_assuntos_comentario">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</span>
        <div class="icone_comentario" >
            <img src="./assets/card_footer.svg">
        </div>
    </div>
</div>