<div class="form-create-topic">
  <h4>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</h4>
  <form>
    <label for="subject">Assunto</label>
    <div class="subject-container">
      <input name="subject" class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
    </div>
    <label for="content">Conteúdo</label>
    <div class="subject-content">
      <input name="content">
      <div class="form-button-container">
        <button clickable (click)="handleCreateTopic($event)">Enviar</button>
      </div>
    </div>
  </form>
</div>
