
<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
        type="button"
        class="inline-flex items-center w-full bg-orange-300 mt-2 ms-3 text-sm text-orange-500 rounded-lg sm:hidden hover:bg-orange-100 focus:outline-none focus:ring-2 focus:ring-orange-200">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/"></svg>
        </button>
        <nav role="menu" id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 shadow-md"
        aria-label="Sidebar">
        <span
            class="shadow-md inline-flex justify-center items-center text-2xl h-16 w-full text-white  bg-gradient-to-b from-orange-300 to-orange-500 ">SLACA
            2019</span>
        <img class="flex"
            src="https://static.galoa.com.br/file/Eventmanager-Private/styles/attendee_dashboard_logo/s3/eventmanager_event/logo/logo-slaca-2019.png?VersionId=4_z9e083e414507696175f50716_f105900dc9dcaedd6_d20220819_m023735_c003_v0312006_t0012_u01660876655228&itok=6wi-0IF_">
        <ul class="font-semibold text-orange-950">
            <li class="hover:bg-orange-100 p-2 pl-4 mt-5"><a href="">Apresentação</a></li>
            <li class="hover:bg-orange-100 p-2 pl-4"><a href="">Comitês</a></li>
            <li class="hover:bg-orange-100 p-2 pl-4"><a href="">Autores</a></li>
            <li class="hover:bg-orange-100 p-2 pl-4"><a href="">Eixos Temáticos</a></li>
            <li class="hover:bg-orange-100 p-2 pl-4"><a href="">Apresentação</a></li>
            <li class="hover:bg-orange-100 p-2 pl-4"><a href="">Contato</a></li>
        </ul>
        
    </nav>
<div class="top-banner md:flex sm:flex s:w-10 pl-72 flex w-screen bg-orange-100 text-orange-900">
    
        
    
    <div class="block banner-" aria-label="Sidebar">
        <p>Anais do Simpósio Latino Americano de Ciencias de Alimentos</p>
        <h2 class="text-xl"> Anais do 13° Simpósio Latino Americano de Ciencias de Alimentos</h2>
        <p>ISSN: 1234-45678</p>
    </div>
    <div class="block lang-container m-auto border-2 border-slate-300 rounded-md text-black">
        <span class="material-icons p-2 ">
            language
        </span>
        <select class="lang-options" name="language" id="language">
            <option value="pt-br" class=""> PT,BR</option>

        </select>
    </div>
    <div class="block login-par m-auto text-end text-black">
        <p class="block">Bem vindo!</p>
        <p class="block">alguem12@galoascience.com</p>
    </div>
    <div class="block login-avatar w-10 m-auto"><img class="login-photo" src="../assets/pessoa.jpeg" alt=""></div>
    
</div>


