<form class="discussions-form-container">
    <h3 class="discussions-form-title">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
    </h3>

    <div>
        <label class="discussions-form-label" for="subject">Assunto:</label>
        <input type="text" name="subject" id="subject" required>
    </div>

    <div>
        <label class="discussions-form-label" for="content">Conteúdo</label>

        <div class="box-area">
            <textarea class="discussions-form-area" type="text" name="content" id="content" required> </textarea>

            <span class="discussions-box-btn-submit"><button type="submit">Enviar</button></span>
        </div>
    </div>
</form>