/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Estiização relacionada ao formulário para envio de conteúdo de discussões
.create-new-topic-wrapper {
    width: 64rem;
    height: 13.62rem;
    margin-left: 0.93rem;
    text-align: center;

    .create-new-topic-title {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        font-size: 0.87rem;
        color: #5C5C5C;
    }

    .topic-subject-wrapper {
        text-align: left;

        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            color: #ED7839;
        }

        #newSubjectTitle{
            width: 64rem;
            height: 2.4rem;
            border-radius: .18rem;
            margin-bottom: .62rem;
            border: 1px solid #CCC;
        }

        #newSubjectTitle:focus {
            border: 1px solid #CCC;
        }
    }
    

    .topic-content-wrapper{
        text-align: left;

        span {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            color: #ED7839;
        }

        #newSubjectContent {
            width: 64rem;
            height: 4.6rem;
            border: 1px solid #CCC;
            border-top-left-radius: .18rem;
            border-top-right-radius: .18rem;
        }

        #newSubjectContent:focus {
            border: 1px solid #CCC;
        }
    }

    .submit-subject-button-wrapper {
        background-color: #EAF1F2;
        height: 1.93rem;
        border-bottom-left-radius: .18rem;
        border-bottom-right-radius: .18rem;
        border: 1px solid #CCC;
        display: flex;
        justify-content: flex-end;
    }

    #submit-subject {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 0.93rem;
        color: #FFF;
    }

    .subject-submit-button {
        background: linear-gradient(#FEB154, #F1833E);
        width: 12.8rem;
        height: 1.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}




// Estilização relacionada ao conteúdo apresentado após envio do formulário
