<label class="language" for="language">
  <i class="language--icon language--icon__global fa-solid fa-globe"></i>
  <select
    [value]="currentLanguage"
    class="language--select"
    name="language"
    title="Choose your preferred language"
    aria-label="Choose your preferred language"
    id="language"
  >
    <option value="pt-BR">PT, BR</option>
    <option value="en-US">EN, US</option>
  </select>
  <i
    class="language--icon language--icon__arrow-down fa-solid fa-caret-down"
  ></i>
</label>
