@import '/src/app/styles/base/index.scss';

.details--content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
  max-height: calc(439px - 47px);
}

.details--list,
.details--authors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.details--legend > .details--list {
  gap: 5px;
}

.details--item,
.details--name {
  color: $text-03;
  font-family: $quicksand-font;
  line-height: 120%;
}

.details--item {
  font-size: px-to-rem(12px);
  font-weight: 400;
  letter-spacing: px-to-rem(0.24px);

  > strong {
    font-weight: 700;
  }
}

.details--authors .details--item {
  letter-spacing: px-to-rem(0.28px);
}

.details--name {
  font-size: px-to-rem(14px);
  font-weight: 700;
  letter-spacing: px-to-rem(0.28px);
}

.details--legend .details--item {
  color: $legend;
}
